*{transition:all 0.3s ease-in-out;scrollbar-width:auto;overflow-anchor:none;--txtshw:0 0 .2em rgb(var(--black)),0 0 .2em rgb(var(--black)),0 0 .2em rgb(var(--black)),0 0 .2em rgb(var(--black)),0 0 .2em rgb(var(--black))}*,*:after,*:before{-moz-box-sizing:border-box}*:target{scroll-margin-top:80px}
body{position:relative;margin:0;padding:0;width:100%}
u{text-decoration:none;border-bottom:2px dashed rgb(var(--emph))}
ul{margin:17px 0;list-style:disclosure-closed;padding-left:17px}
li{margin:7px 0}
blockquote{border:2px solid rgb(var(--fore));border-top:none;border-left:none;border-radius:1em 1% 1em 1%;padding:1em 1em .2em 1em;margin:1em 0 1em .5em;background:rgba(var(--fore),.2)}

h1,h2{text-align:center;margin-top:0;
    position: relative;
}
h1{font-size:3rem;color:rgb(var(--emph))}
h2{font-size:2rem;color:rgb(var(--indigol))}
h3{font-size:1.2rem;color:rgb(var(--indigol));
    margin-top: 0;
    margin-bottom:12px;
}
h1 span{color:rgb(var(--indigod));font-size:.7em}
table{width:100%;overflow-y:visible!important}
td{height:100%}

#findtaginput::placeholder,
#findtaginput:focus-within,
#filterinput::placeholder,
#filterinput:focus-within {
    opacity: 1;
    color: rgb(var(--white));
    font-weight: 600;
    font-family: Space Mono, Consolas, Courier;
    text-shadow: var(--txtshw);
}
#findtaginput:focus-visible,#filterinput:focus-visible{
    border: 3px solid rgb(var(--black));
    outline: 5px solid rgb(var(--white));
    caret-shape: block;
    caret-color: rgb(var(--white));
}
#findtaginput:focus-visible::placeholder,#filterinput:focus-visible::placeholder{opacity:.5}
#findtaginput,#filterinput{
    width: 100%;
    font-size: 16px;
    margin: 17px auto;
    border-radius:5px;
    padding: 17px 50px;
    border: 3px solid rgb(var(--black));
    background: linear-gradient(30deg, rgba(var(--indigod), 1), rgba(var(--indigod), 0));
    outline: 2px solid rgb(var(--white));
}
input:focus-within{outline:none}
.infoa{cursor:help;position:relative}
.infoa:hover>.infob,.infob:hover{display:revert}
.infob {
    font-weight: initial;
    font-style: initial;
    font-family:BrandonGrotesque;
    font-size:revert;
    display:none;
    z-index: 99;
    background: rgba(var(--black), 0.95);
    border: 2px solid rgb(var(--indigod));
    padding: 7px;
    text-align: left;
    color: rgb(var(--white));
    min-width: 256px;
    max-height: 500px;
    position: absolute;
    top: 2.3rem;
    left: -1rem;
    overflow:auto
}
.infob p{
    padding-left:1%!important;
    font-size:1em
}
.infob h2{
    padding: 0 0 3px 0;
    margin: 0 0 17px 0;
    text-align: left;
    font-size: 1.4em ;
    border-bottom: 2px solid rgb(var(--midd));
    color:rgb(var(--fore))
}
.infob h2:not(h2:first-child){margin-top:17px}

input[type="number"]{-moz-appearance:textfield}
input[type="checkbox"]{display:none}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{-webkit-appearance:none;margin:0}
button{
    border:0 none;
    color:rgb(var(--white));
    text-shadow:var(--txtshw);
    font-weight:800;
    background:rgb(var(--indigol));
    padding:10px 12px 10px 12px;
    letter-spacing:1px;
    cursor:pointer;
}
a{text-decoration:none;color:rgb(var(--orng))}
a:hover{filter:contrast(200%)brightness(200%)}
a:active button{background:rgb(var(--indigod))}
.rmk {
    width: 512px;
    border: 3px solid rgb(205, 122, 30);
    background: rgb(247, 231, 146) !important;
    margin: 5px;
    padding: 5px;
}
#selpage::placeholder,#selpage:focus-within{opacity:1;color:rgb(var(--white));font-weight:600;font-family:Roboto,Arial;text-shadow:var(--txtshw)}
#selpage:focus-visible{border:3px solid rgb(var(--white));outline:5px solid rgb(var(--black));caret-shape:block;caret-color:rgb(var(--white))}
#selpage:focus-visible::placeholder{opacity:.5}
#selpage:focus-within{padding-left:42px}
#selpage{width:100%;font-size:16px;margin:17px auto;border-radius:100px;padding:17px 42px;border:3px solid rgb(var(--white));background:linear-gradient(30deg,rgb(var(--redd)),rgb(var(--black)));outline:2px solid rgb(var(--black))}



#midxbtn{
    background:rgba(var(--grey),.9);
    border-bottom:3px solid rgb(var(--indigol));
    transition:0.5s;
}
#midxbtn h1{
    background:rgb(var(--indigod));
    padding:17px;
    font-size:3vh;
    margin:0 auto;
    color:rgb(var(--back));
}
#openbtn {
    position:fixed;
    bottom:1vh;
    font-size:2vh;
    cursor:pointer;
    background:rgb(var(--indigod));
    color:rgb(var(--white));
    padding:1.5vh 2vh;
    border:none;
    border-radius:2vh;
    z-index:99
}#openbtn:hover{background:rgba(var(--indigol),.8);color:white}
#closbtn{cursor:pointer}
#closbtn h1{
    background:rgba(var(--indigod),.6);
    font-size:3.4vh;
    color:rgb(var(--white));
    padding:7px
}
#closbtn span{
    position:absolute;
    font-size:6vh;
    color:rgb(var(--white));
    top:0;
    right:25px;
    line-height:100%
}
#midxbtn h1:hover{filter:saturate(200%)}
#midxbtn h2{
    margin:0 auto;padding-bottom:12px;border-bottom:3px solid rgb(var(--indigol))
}
#sidenav,#bottnav {
    position:fixed;
    z-index:99;
    transition:0.5s;
    background:rgba(var(--black),.8);
    text-align:left;
    display:flex;
    flex-flow:column;
    font-size:2vh
}
#sidenav{
    top:0;
    min-width:320px;
    border-right:3px solid rgb(var(--indigol));
    height:100%;
}
#bottnav{
    bottom:0;
    border-top:3px solid rgb(var(--indigol));
    height:200px;
}
#sidenav h3,#bottnav h3{font-size:3vh}
#sidenav h3 svg,#bottnav h3 svg{height:6vh;width:6vh;margin-bottom:.45vh}
#sidenav #selpage,#bottnav #selpage{
    font-size:2vh;
    padding-left:20px;
    width:94%;
    margin-left:3%;
}
#sidenav ul hr,#bottnav ul hr{margin:12px -12px 12px -7px}
#langidx{text-align:center;font-size:42px;padding-bottom:5px;background:rgba(var(--indigod),.5);position:relative}
#langidx .infoa{position:unset}
#langidx .infob{
    width:calc(100% - 10px);
    left:5px;
    top:61px;
    border-color:rgb(var(--indigol));
    border-width:3px;
    font-size:2vh;
}

.sbar{margin-bottom:7px;border-radius:24px;border:3px solid rgba(var(--indigod),.5);position:relative}
.sbar > a{display:block;width:5vh;height:5vh;position:absolute}
.lbl-toggle{display:block;cursor:pointer;border-radius:20px;padding:17px;margin-bottom:0;background:rgb(var(--indigod));color:rgb(var(--white));font-size:2.5vh;height:5vh;font-weight:800;text-align:center}
.lbl-toggle::before{content:' ';display:inline-block;border-top:10px solid transparent;border-bottom:10px solid transparent;border-left:10px solid currentColor;vertical-align:middle;margin-right:.7rem;transform:translateY(-2px);transition:transform .2s ease-out}.toggle:checked+.lbl-toggle::before{transform:rotate(90deg)translateX(-3px)}
.toggle:checked+.lbl-toggle{border-radius:20px 20px 0 0}
.barss{max-height:0px;overflow:hidden;transition:max-height .25s ease-in-out;background:rgba(var(--black),.8);border-radius:0 0 20px 20px}.toggle:checked+.lbl-toggle+.barss{max-height:100%;padding:5px}
.barss ul{padding-left:34px}
h3 svg{width:50px;height:50px;display:inline-block;vertical-align:middle;margin-right:12px}

#navctn{padding:12px;overflow:auto}



/* OUTER WILDS STUFF */

.chp{background:rgba(0,0,0,.8)}
h1{margin-bottom:3%}
h2+hr{margin-top:5%}

@media only screen and (orientation: landscape) {
    .chp {
        border:1px solid rgba(0,0,0,.1);
        border-radius:var(--chpborder);
        box-sizing:border-box;width:80%;max-width:800px;margin:42px auto;
        padding:calc(var(--chpborder)/2);
        box-shadow:0 0 calc(var(--chpborder)/2)rgba(0,0,0,.8),0 0 calc(var(--chpborder)/2)rgba(0,0,0,.8),0 0 calc(var(--chpborder)/2)rgba(0,0,0,.8)
    }
    .chp:last-child{margin-bottom:10vh}
    #bottnav{bottom:-100%;width:100%}
    #sidenav{left:-100%;width:20%}#openbtn{left:1vh}
    [id^="int_"].shiplog{width:70%;max-width:1000px}
    .shiplog td:first-child{width:17%}
    body{font-size:18px}
    hr{margin:80px auto}
}
@media only screen and (orientation: portrait) {
    .chp{width:100%;padding:20vh 2.5vw;margin:12.5vw auto;box-shadow:0 0 1vw 2.5vw rgba(0,0,0,.8)}
    #sidenav{left:-100%;width:50%}
    #openbtn{left:1vh}
    table[id^="int_"].shiplog{font-size:1.9vw}
    .shiplog td:first-child{width:17vw;font-size:1.9vw}
    body{font-size:4vw}
    h1{font-size:8vw}
    h2{font-size:6vw}
    h3{font-size:5vw}
    hr{margin:17vw auto}
}


@font-face{font-family:"BrandonGrotesque";src:url("font/bdgt/BrandonGrotesque-Regular.ttf")format("truetype");font-weight:normal;font-style:normal}
@font-face{font-family:"BrandonGrotesque";src:url("font/bdgt/BrandonGrotesque-RegularItalic.ttf")format("truetype");font-weight:normal;font-style:italic}
@font-face{font-family:"BrandonGrotesque";src:url("font/bdgt/BrandonGrotesque-Thin.ttf")format("truetype");font-weight:100;font-style:normal}
@font-face{font-family:"BrandonGrotesque";src:url("font/bdgt/BrandonGrotesque-ThinItalic.ttf")format("truetype");font-weight:100;font-style:italic}
@font-face{font-family:"BrandonGrotesque";src:url("font/bdgt/BrandonGrotesque-Light.ttf")format("truetype");font-weight:200;font-style:normal}
@font-face{font-family:"BrandonGrotesque";src:url("font/bdgt/BrandonGrotesque-LightItalic.ttf")format("truetype");font-weight:200;font-style:italic}
@font-face{font-family:"BrandonGrotesque";src:url("font/bdgt/BrandonGrotesque-Medium.ttf")format("truetype");font-weight:500;font-style:normal}
@font-face{font-family:"BrandonGrotesque";src:url("font/bdgt/BrandonGrotesque-MediumItalic.ttf")format("truetype");font-weight:500;font-style:italic}
@font-face{font-family:"BrandonGrotesque";src:url("font/bdgt/BrandonGrotesque-Bold.ttf")format("truetype");font-weight:600;font-style:normal}
@font-face{font-family:"BrandonGrotesque";src:url("font/bdgt/BrandonGrotesque-BoldItalic.ttf")format("truetype");font-weight:600;font-style:italic}
@font-face{font-family:"BrandonGrotesque";src:url("font/bdgt/BrandonGrotesque-Black.ttf")format("truetype");font-weight:800;font-style:normal}
@font-face{font-family:"BrandonGrotesque";src:url("font/bdgt/BrandonGrotesque-BlackItalic.ttf")format("truetype");font-weight:800;font-style:italic}

@font-face{font-family:"Space Mono";src:url("font/sm/SpaceMono-Regular_Dynamic.ttf")format("truetype");font-weight:normal;font-style:normal}
@font-face{font-family:"Space Mono";src:url("font/sm/SpaceMono-Italic_Dynamic.ttf")format("truetype");font-weight:normal;font-style:italic}
@font-face{font-family:"Space Mono";src:url("font/sm/SpaceMono-Bold_Dynamic.ttf")format("truetype");font-weight:bold;font-style:normal}
@font-face{font-family:"Space Mono";src:url("font/sm/SpaceMono-BoldItalic_Dynamic.ttf")format("truetype");font-weight:bold;font-style:italic}

@font-face{font-family:"SerifGothicStd";src:url("font/Adobe - SerifGothicStd_Dynamic.otf")format("opentype");font-weight:normal;font-style:normal}

@font-face{font-family:"NarumBarunGothic";src:url("font/NanumBarunGothic_Dynamic.ttf")format("truetype");font-weight:normal;font-style:normal}
@font-face{font-family:"NarumBarunGothic";src:url("font/NanumBarunGothicBold_Dynamic.ttf")format("truetype");font-weight:bold;font-style:normal}

@font-face{font-family:"AxisStd";src:url("font/Type Project - AxisStd-Medium_Dynamic.otf")format("opentype");font-weight:normal;font-style:normal}

body{background:no-repeat url(img/2462x1386.jpg)bottom fixed;background-color:rgb(var(--black));background-size:cover;color:white;font-family:"BrandonGrotesque";text-align:justify}
*{--orng:255,125,36;--blue:88,120,182;--black:2,16,27;--white:207,207,209;--chpborder:80px;--lblue:180,224,236;--orng2:252,173,30;
--red:250,17,61;
--greend:56,138,93;
--greenl:104,255,172;
--purpled:79,58,141;
--purplel:144,104,255;
--redd:180,74,74;
--redl:255,104,104;
--goldd:180,118,74;
--goldl:255,167,104;
--indigod:29,74,148;
--indigol:50,128,255;
--greyd:127,128,122;
--greyl:226,228,218;
--black2:41,44,84;
--beige:244,234,219;

scrollbar-color:rgb(var(--indigod))rgb(var(--black))}
img{max-width:100%}
.chp > p{text-indent:2em}
.vs{margin-bottom:.2em}.vs + *{margin-top:.2em}

hr{border:none;height:2px;background:linear-gradient(90deg,transparent,currentcolor 25%,currentcolor 75%,transparent);width:80%}
wip{background:rgba(var(--orng),.3);display:block;padding:17px;border-radius:17px;margin:17px auto}.wip{background:rgba(var(--orng),.17)}
.chp > *:first-child,wip > *:first-child{margin-top:0}
.chp > *:last-child,wip > *:last-child{margin-bottom:0}

.shiplog > div{padding:1em}
.shiplog > div > *:first-child{margin-top:0}
.shiplog > div > *:last-child{margin-bottom:0}
.shiplog p:not(.time){padding:0 1.7em}
.shiplog p.time{border-bottom:3px solid currentcolor;padding-bottom:.5em;color:rgb(var(--blue));font-size:1.2em;font-weight:600}
.shiplog h2{font-size:1.7em}
.shiplog h3{padding:0 17%;line-height:1.7em;color:rgb(var(--greyl))}

orng,.red{color:rgb(var(--orng))}
.orng{color:rgb(var(--orng2))}
.grey{color:grey}
blue,.blue{color:rgb(var(--blue))}
.green{color:rgb(var(--greenl))}
.lblue{color:lightblue}
.redl{color:rgb(var(--redl))}
.redd{color:rgb(var(--redd))}
.greend{color:rgb(var(--greend))}
.greenl{color:rgb(var(--greenl))}
.indigol{color:rgb(var(--indigol))}
.indigod{color:rgb(var(--indigod))}
.purplel{color:rgb(var(--purplel))}
.purpled{color:rgb(var(--purpled))}
.goldl{color:rgb(var(--goldl))}
.goldd{color:rgb(var(--goldd))}
.greyl{color:rgb(var(--greyl))}
.greyd{color:rgb(var(--greyd))}

smol{font-size:.7rem;font-family:Space Mono}
code{font-family:Space Mono}
.smol{font-size:.8em}
scaps,.scaps{font-variant:petite-caps;font-weight:500}
.radio{
    color:transparent;
    mix-blend-mode:plus-lighter;
    background-clip:text;-webkit-background-clip:text;
    filter:contrast(1000%);
    font-weight:500;
    animation:.5s 0s glitch infinite
}
@keyframes glitch {
    0% {background-image:url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.5' numOctaves='1'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3Crect width='100%25' height='100%25' fill='white' opacity='.2'/%3E%3C/svg%3E")}
    25%{background-image:url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.4' numOctaves='1'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3Crect width='100%25' height='100%25' fill='white' opacity='.2'/%3E%3C/svg%3E")}
    50%{background-image:url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.1' numOctaves='1'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3Crect width='100%25' height='100%25' fill='white' opacity='.2'/%3E%3C/svg%3E")}
    75%{background-image:url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.3' numOctaves='1'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3Crect width='100%25' height='100%25' fill='white' opacity='.2'/%3E%3C/svg%3E")}
    100%{background-image:url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.2' numOctaves='1'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3Crect width='100%25' height='100%25' fill='white' opacity='.2'/%3E%3C/svg%3E")}
}

.nomai{padding:17px;text-align:center;width:87%;font-family:Space Mono,Monospace;background:radial-gradient(rgb(42,110,100),black 80%);margin:0 auto;text-shadow:0 0 1.2em currentcolor;text-indent:0!important;color:rgb(177,252,252);box-shadow:0 0 17px rgba(0,0,0,.8),0 0 17px rgba(0,0,0,.8),0 0 17px rgba(0,0,0,.8)}
:not(.nomai)+.nomai,.nomai:first-child{margin-top:17px;border-radius:17px 17px 0 0}
.nomai:has(+:not(.nomai)),.nomai:last-child{margin-bottom:17px;border-radius:0 0 17px 17px}

p>svg{display:inline-block;height:1.1em;background:currentcolor;vertical-align:middle;margin-top:-3px}
span.isnomai{font-style:italic;font-family:Space Mono;font-size:.7em}



h1,h2,h3{text-align:center}
.chprt a{display:block;background:rgba(var(--indigod),.5);color:rgba(var(--white),.8);padding:7px 17px;border-radius:50px;text-wrap:nowrap;overflow-x:hidden;text-overflow:ellipsis}
.chprt a:hover{color:white;background:rgba(var(--indigol),.5);filter:none}.chprt a+a{margin-top:5px}
.lbl-toggle{padding:7px}
#navctn a{color:rgba(var(--white),.8)}#navctn a:hover{color:white}
.lbl-toggle:after{content:'';background:url(img/Steam_Lv5_Supernova.png)center;background-size:100%;width:5vh;height:5vh;position:absolute;left:0;top:0}



b{font-weight:500}
.radio b{font-weight:600}
.shiplog{text-align:left;
    font: 90%/1.25 Space Mono,Consolas,Courrier,monospace;
    text-shadow:0 0 5px currentcolor;color:rgb(207,207,209);opacity:.95;
    margin:2.5vw auto;
    width:92%;
    box-shadow:0 0 1vw 2vw rgb(5,19,31);
    border:2px solid royalblue;
    background:url(img/shiplog_bg.png);background-position:center;
    padding:1.55%;padding-right:.9%;
    position:relative;
    border-collapse:separate;
    border-spacing:2vh;
    word-break:break-word;
}
.old{opacity:.5}
.shiplog tr{opacity:.9}
.shiplog tr:first-child{opacity:1}
.shiplog tr:hover{opacity:1}
.shiplog details{display:inline-block;width:100%;margin:0;cursor:text}
.shiplog summary{list-style:none;text-indent:-2.5em;margin-left:2.5em;pointer-events:none}
.shiplog details>li{margin:3px 24px}
.shiplog td.time{line-height:1.7}

.shiplog li{list-style:none!important;margin:0;margin-left:-1.32em;position:relative}
.shiplog li:before{content:'– ';font-weight:800;position:absolute;left:-1.05em}

.shiplog ul{margin:0 0 0 19px;border-right:none!important;border-top:none!important;padding-left:1em}
.shiplog ul>li{padding:.5em 0;margin-left:0}
.shiplog ul>li:first-child{margin-top:0}
.shiplog td{vertical-align:top}
.shiplog u{padding:2px 12px;border-radius:50px;color:rgb(5,19,31)!important;text-shadow:none;text-decoration:none;line-height:1.7;box-decoration-break:clone;-webkit-box-decoration-break:clone}
.shiplog u b{font-weight:800}

.shiplog .hudblue .time{color:royalblue}
.shiplog .hudblue u{background:royalblue;filter:drop-shadow(0 0 2px royalblue)}
.shiplog .hudblue ul{border:2px solid royalblue;box-shadow:-1px 1px 1px royalblue}
.shiplog .hudblue li:before{color:royalblue}
.shiplog .blue{color:royalblue}

.shiplog .hudlblue .time{color:lightblue}
.shiplog .hudlblue u{background:lightblue;filter:drop-shadow(0 0 2px lightblue)}
.shiplog .hudlblue ul{border:2px solid lightblue;box-shadow:-1px 1px 1px lightblue}
.shiplog .hudlblue li:before{color:lightblue}
.shiplog .lblue{color:lightblue}

.shiplog .hudorange .time{color:orange}
.shiplog .hudorange u{background:orange;filter:drop-shadow(0 0 2px orange)}
.shiplog .hudorange ul{border:2px solid orange;box-shadow:-1px 1px 1px orange}
.shiplog .hudorange li:before{color:orange}
.shiplog .orange{color:orange}

.shiplog .huddarkorange .time{color:darkorange}
.shiplog .huddarkorange u{background:darkorange;filter:drop-shadow(0 0 2px darkorange)}
.shiplog .huddarkorange ul{border:2px solid darkorange;box-shadow:-1px 1px 1px darkorange}
.shiplog .huddarkorange li:before{color:darkorange}
.shiplog .darkorange{color:darkorange}

.shiplog .hudgreen .time{color:mediumseagreen}
.shiplog .hudgreen u{background:mediumseagreen;filter:drop-shadow(0 0 2px mediumseagreen)}
.shiplog .hudgreen ul{border:2px solid mediumseagreen;box-shadow:-1px 1px 1px mediumseagreen}
.shiplog .hudgreen li:before{color:mediumseagreen}
.shiplog .green{color:mediumseagreen}

.shiplog .hudlgreen .time{color:springgreen}
.shiplog .hudlgreen u{background:springgreen;filter:drop-shadow(0 0 2px springgreen)}
.shiplog .hudlgreen ul{border:2px solid springgreen;box-shadow:-1px 1px 1px springgreen}
.shiplog .hudlgreen li:before{color:springgreen}
.shiplog .lgreen{color:springgreen}

.shiplog .hudred .time{color:crimson}
.shiplog .hudred u{background:crimson;filter:drop-shadow(0 0 2px crimson)}
.shiplog .hudred ul{border:2px solid crimson;box-shadow:-1px 1px 1px crimson}
.shiplog .hudred li:before{color:crimson}
.shiplog .red{color:crimson}

.shiplog .hudgrey .time{color:grey}
.shiplog .hudgrey u{background:grey;filter:drop-shadow(0 0 2px grey)}
.shiplog .hudgrey ul{border:2px solid grey;box-shadow:-1px 1px 1px grey}
.shiplog .hudgrey li:before{color:grey}
.shiplog .grey{color:grey}



.shiplog li:has(+ul){border-bottom:2px solid grey;display:inline-block}

.extlink{display:block;width:100%;margin:7px auto;padding:12px;border:2px solid rgb(var(--greend));background:rgba(var(--black),.7);text-align:center;font-weight:800}
.extlink:hover{filter:brightness(120%);background:rgb(var(--greend));color:rgb(var(--black))!important;border-radius:50px}

.spoilerblur{filter:blur(.7em)}.spoilerblur:hover{filter:none}
