.c {                              /* This defines the block containing all of a character’s events for one day. */
    height: 20px;                 /* If you are using bigger icons, I suggest changing the value to that of your icons’ height. */
    border-radius: 12px;          /* Roundness of the corners. */
    background: rgb(var(--void)); /* Background color. */
    /* -------------------------------------------------------------------------------------------------------- */
    margin: 7px 0;                /* Space between two character lines.
                                     Always leave the second value at 0 or the scale for time will be messed up. */
    width: 1440px;                /* Please don’t change this. If you do, the scale for time will be messed up. */
}
.c > div {                        /* This defines what each event block will look like. */
    font-size: 12px;              /* Size of the text inside each event. */
    font-weight: 800;             /* Boldness of the text. Accepted values are any number between 100 and 800, among others. */
    color: rgb(var(--plwhite));   /* Color of the text. */
    text-shadow: var(--txtshw), var(--txtshw), var(--txtshw); /* Shadow effect behind the text. */
    /* -------------------------------------------------------------------------------------------------------- */
    height: 20px;                 /* If you are using bigger icons, I suggest changing the value to that of your icons’ height. */
    padding: 1px 0px;             /* Position of the text inside the event block. “1px 5px” is calibrated for a block height of 20px & font size of 12px. */
    white-space: nowrap;          /* If your blocks have a bigger height than just 20px, you may consider changing “nowrap” to “normal.” */
    border-radius: 30px;          /* Roundness of the corners. */
    border: 2px solid red;        /* “red” is given by default but will always be overridden, so it’s useless to change it. */
    /* ----------------------------- You shouldn’t need to change what’s below this line. --------------------- */
    float: left;
    clear: none;
    margin: 0;
}
.c .evt{                          /* This is for the short events that show up as small red circles instead of bars. */
    background:rgb(var(--plred));
    border:2px solid rgb(var(--plwhite));
    box-shadow: 0 0 2px rgb(var(--plblack)),0 0 2px rgb(var(--plblack)),0 0 2px rgb(var(--plblack)),0 0 2px rgb(var(--plblack)),0 0 2px rgb(var(--plblack));
    width:10px;
    height:10px;
    top:5px;
    display:block;
    border-radius:50%;
    position:absolute;
}
* { /* This is where variables are defined. The first ones are meant to define colors. */
    --plblack: 48, 32, 32;
    --plwhite: 252, 252, 244;
    --void: 217, 200, 121;
    --plred: 192, 72, 0;
    --fore: 179, 176, 79;
    --emph: 232, 83, 89;
    --back: 254, 224, 163;
    --midd: 63, 121, 99;
    --grey: 219, 184, 145;
    --bgd: 242, 197, 139;
    --bgl: 247, 214, 170;
    --txtshw: 0 0 0.2em rgb(var(--plblack)), 0 0 0.2em rgb(var(--plblack)), 0 0 0.2em rgb(var(--plblack)), 0 0 0.2em rgb(var(--plblack)), 0 0 0.2em rgb(var(--plblack));
}
* {
    -moz-transition: all 0.3s ease-in-out;
    scrollbar-width: auto;
    scrollbar-color: rgb(var(--fore)) rgb(var(--back));
    position: relative;
}
*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    width: 100%;
    padding-top: 250px;
    height: 100%;
    margin: 0;
    font-family: Candara;
    background: rgb(var(--grey));
    text-align: justify;
    font-size: 1.25rem;
}
.horz .tl {
    white-space: nowrap;
    display: flex;
}
.horz .cont {
    overflow-x: auto;
    padding-left: 100px;
    padding-right: 100px;
    background: rgba(var(--back), 0.8);
    margin-bottom: 250px;
}
.horz .day {
    width: 1440px;
    margin-left: 30px;
}
.horz .tl:last-child {
    padding-bottom: 300px;
}
.vert .cont {
    position: absolute;
    left: 50%;
    width: 1000px;
    margin-left: -500px;
    margin-top: 150px;
    width: 1600px;
    margin-left: -800px;
}
.vert .day {
    padding: 17px 80px;
    box-shadow: 0 0 17px rgb(var(--back));
    border-radius: 42px;
    background: rgb(var(--back));
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 50px;
}
h1 {
    text-align: center;
    line-height: 200%;
    font-size: 3rem;
    color: rgb(var(--emph));
    border-bottom: 3px solid rgb(var(--emph));
    margin: 0 auto;
    scroll-margin-top: 200px;
}
#fixheader {
    position: fixed;
    background: rgba(var(--back), 0.8);
    border-bottom: 3px solid rgb(var(--midd));
    z-index: 99;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
}
input[type="checkbox"] {
    display: none;
}
.lbl-toggle {
    display: block;
    font-family: KFhimaji;
    color: rgb(var(--midd));
    text-align: center;
    padding: 12px;
    cursor: pointer;
}
.lbl-toggle:hover {
    color: rgb(var(--emph));
}
.lbl-toggle::before {
    content: " ";
    display: inline-block;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid currentColor;
    vertical-align: middle;
    margin-right: 0.7rem;
    transform: translateY(-2px);
    transition: transform 0.2s ease-out;
}
.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}
.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
}
.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 100%;
}
.c div:hover more,
more:hover {
    visibility: visible;
}
more {
    display: block;
    visibility: hidden;
    z-index: 99;
    background: rgba(var(--back), 0.95);
    border: 2px solid rgb(var(--midd));
    border-top:12px solid rgb(var(--midd));
    padding: 7px;
    text-align: left;
    font-size: 17px;
    color: rgb(var(--plblack));
    min-width: 256px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    text-shadow:none;
    font-weight: normal;
    border-radius: 0 10px 10px 10px;
    white-space: normal;
    max-height: 250px;
    max-width: 350px;
    left: 6px;
    top: 18px;
}
div.evt more{
    left:2px!important;
    top:2px!important;
}
more p {
    margin:7px 0;
}
more p:first-child {
    margin-top:0;
}
more p:last-child {
    margin-bottom:0;
}
more h2 {
    padding: 0 0 3px 0;
    margin: 0 0 17px 0;
    line-height: 120%;
    text-align: left;
    font-size: 20px;
    border-bottom: 2px solid rgb(var(--midd));
    color: rgb(var(--midd));
}
more h2:not(h2:first-child) {
    margin-top: 17px;
}
more a {
    color: rgb(var(--emph));
}
more a:hover {
    color: rgb(var(--emp2));
}
.void {
    background: none !important;
    border-color: rgb(var(--void)) !important;
}
.day > h1:after {
    content: url("scale.svg");
    position: absolute;
    width: 1440px;
    height: 50px;
    left: 0;
    bottom: -105px;
}
.day > h1 {
    margin-bottom: 100px;
}
.horz .day > h1 {
    display: inline-block;
    width: 1440px;
}
h1:target {
    color: rgb(var(--midd));
    border-color: rgb(var(--midd));
}
a.btn {
    padding: 5px;
    border-radius: 5px;
    border: 3px solid rgb(var(--plred));
    background: rgb(var(--emph));
    display: inline-block;
    margin: 5px;
    color: rgb(var(--plwhite));
    font-weight:800;
}
blockquote {
    border-left: 2px solid rgb(var(--midd));
    padding: 0 0 0 7px;
    margin: 17px 0 17px 7px;
}
cr {
    color: rgb(152, 48, 0);
}
cs {
    color: rgb(48, 120, 128);
}
button {
    border: 0 none;
    color: rgb(var(--plwhite));
    text-shadow: var(--txtshw), var(--txtshw);
    font-weight: 800;
    background: rgb(var(--fore));
    padding: 10px 12px 10px 12px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
}
button:active {
    background: rgb(var(--midd));
}
hr {
    border: none;
    height: 2px;
    background: rgb(var(--fore));
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}
a {
    font-weight: 800;
    text-decoration: none;
    color: rgb(var(--fore));
}
a:hover {
    color: rgb(var(--emph));
}
h1,
h2,
h3 {
    line-height: 200%;
    text-align: center;
    margin: 0 auto 1.7em auto;
}
h1 {
    font-size: 3rem;
    color: rgb(var(--emph));
}
h2 {
    font-size: 2rem;
    font-weight: 800;
    color: rgb(var(--fore));
}
h3 {
    color: rgb(var(--emph));
    line-height: 150%;
}
h1 span {
    color: rgb(var(--midd));
    line-height: 100%;
    font-size: 0.7em;
}
h1 .hr,
h2 .hr {
    width: 90%;
    background: rgb(var(--midd));
    height: 3px;
    margin: 1em auto;
    margin-bottom: 1.665em;
    top: 2px;
}
h1 .hr:before,
h1 .hr:after,
h2 .hr:before,
h2 .hr:after {
    content: "➽";
    color: rgb(var(--midd));
    position: absolute;
}
h1 .hr:before,
h2 .hr:before {
    transform: rotate(180deg) translatey(50%);
    left: -10px;
}
h1 .hr:after,
h2 .hr:after {
    right: -10px;
    transform: translatey(-50%);
}
h2 .hr {
    top: -3em;
}
#slider.slider {
    background: transparent;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
}
.thumb {
    height: 100%;
    width: 52px;
    cursor: move;
    padding: 0 25px;
}
.thumb in {
    background: rgb(var(--plred));
    width: 2px;
    display: block;
    height: 100%;
}
.c > div > p {
    margin: 0 0 0 5px;
}
