.mau, .mau  *{--emph:var(--orng);--fore:219,112,147;--midd:199,21,133}
.scau,.scau *{--emph:var(--purplel);--fore:50,120,200;--midd:var(--indigod)}
.ahau,.ahau *{--emph:var(--orng);--fore:255,127,80;--midd:219,122,50}
.fkno,.fkno *{--emph:var(--orng);--fore:var(--purplel);--midd:var(--purpled)}
summary img{display:inline-block;width:2em;height:2em;margin-bottom:-.5em;margin-right:.2em}

/* Fixes */
#tagu>div{display:flex;flex-wrap:wrap;align-items:center;justify-content:center}
#tagu>div>p{margin:0 .5rem;text-align:center}
#srch_opcls{right:260px}
#srch_reset{right:160px}
#activetags{width:calc(100% - 420px)}
table.fkno td p:not(.infob){padding-left:0!important}
table.spmono.fkno tr>*:first-child{width:22%;text-align:center}
table.spmono.fkno tr>*:nth-child(2):not(:last-child){width:17%;text-align:center}

@media only screen and (max-aspect-ratio:3/4){*{--colwid:calc(max(85vw,500px));--taggrid:1fr;--h2pad:5%}}
@media only screen and (min-aspect-ratio:3/4){*{--colwid:calc(max(42vw,500px));--taggrid:1fr 1fr;--h2pad:10%}#tagu{grid-column:1/3}}
.tagcategory{height:unset;max-height:unset}

/* Unique to 1 lore card */
#convout td{font-family:Space Mono,Consolas,Courier}

.rating{border-radius:50px;width:100px;display:inline-block;background:rgba(var(--midd),.5);height:22px}
.rating input{padding:0;background-image:linear-gradient(to left,#e5405e 0%,#ffdb3a 65%,#3fffa2 100%);background-size:100px 100%;text-shadow:var(--txtshw);text-align:center;height:22px;margin-top:-10px}

#findunivinp label{padding:.2em .8em;border-radius:5em;font-weight:600;border:none;color:rgb(var(--fore));cursor:pointer;background:rgba(var(--fore),.3);outline:3px solid rgb(var(--fore));display:inline-block;margin:auto 5px}
#findunivinp label>*{vertical-align:middle}
#findunivinp label:has(input[type=checkbox]){padding-left:.3em}
#findunivinp input[type=checkbox]{display:revert;margin-bottom:.5em;width:1.5em;height:1.5em;accent-color:rgb(var(--fore))}
#findunivinp label img{height:2em}