/*
 *    ███████  ██████  ███    ██ ████████ ███████
 *    ██      ██    ██ ████   ██    ██    ██
 *    █████   ██    ██ ██ ██  ██    ██    ███████
 *    ██      ██    ██ ██  ██ ██    ██         ██
 *    ██       ██████  ██   ████    ██    ███████
 */
@font-face { font-family: "DotumChe"; src: url("https://lutiaskokopelli.github.io/lwtq/css/fonts/UndertaleDotumche.ttf")            format("truetype"); }
@font-face { font-family: "MNC";      src: url("https://lutiaskokopelli.github.io/lwtq/css/fonts/Mars_Needs_Cunnilingus.ttf")       format("truetype"); }
@font-face { font-family: "Mercy";    src: url("https://lutiaskokopelli.github.io/lwtq/css/fonts/MERCY.ttf")                        format("truetype"); }
@font-face { font-family: "mgame";    src: url("https://lutiaskokopelli.github.io/lwtq/css/fonts/determinationmonoweb-webfont.ttf") format("truetype"); }
@font-face { font-family: "sgame";    src: url("https://lutiaskokopelli.github.io/lwtq/css/fonts/determinationsansweb-webfont.ttf") format("truetype"); }
@font-face { font-family: "sans";     src: url("https://lutiaskokopelli.github.io/lwtq/css/fonts/UndertaleSans.ttf")                format("truetype"); }
@font-face { font-family: "paps";     src: url("https://lutiaskokopelli.github.io/lwtq/css/fonts/UndertalePapyrus.ttf")             format("truetype"); }
@font-face { font-family: "mfriend";  src: url("https://lutiaskokopelli.github.io/lwtq/css/fonts/MonsterFriendFore.otf")            format("opentype"); }
@font-face { font-family: "Lucida";   src: url("https://lutiaskokopelli.github.io/lwtq/css/fonts/LCALLIG.TTF")                      format("truetype"); }
@font-face { font-family: "Arial";    src: url("https://lutiaskokopelli.github.io/lwtq/css/fonts/arial.ttf")                        format("truetype"); }
/*
 *    ██   ██ ████████ ███    ███ ██          ██████   █████  ███████ ██  ██████ ███████
 *    ██   ██    ██    ████  ████ ██          ██   ██ ██   ██ ██      ██ ██      ██
 *    ███████    ██    ██ ████ ██ ██          ██████  ███████ ███████ ██ ██      ███████
 *    ██   ██    ██    ██  ██  ██ ██          ██   ██ ██   ██      ██ ██ ██           ██
 *    ██   ██    ██    ██      ██ ███████     ██████  ██   ██ ███████ ██  ██████ ███████
 */
html, body { margin: auto; list-style: none; color: #fff; background-attachment:fixed!important; overflow: auto; background:url("https://lutiaskokopelli.github.io/lwtq/ast/tile_ystar.png"); font-size:20px;}
h1, h2, h3, h4, h5, h6 { text-align: center; margin: 0 auto; font-family:"Mercy"; }
p          { padding-left:10px; padding-right:10px; margin-bottom:5px; margin-top:5px; }
a          { text-decoration:none; -webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out; }
hr         { border: 0; height: 1px; background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));}
hr.dishr   { width: 100%; color: #424549; background: #424549; border: none; height: 1px; }
img        { max-width:100%; display:block; margin: auto; }
/*
 *    ██    ██ ████████     ██████   █████  ████████ ████████ ██      ███████     ██████  ██    ██ ████████ ████████  ██████  ███    ██ ███████
 *    ██    ██    ██        ██   ██ ██   ██    ██       ██    ██      ██          ██   ██ ██    ██    ██       ██    ██    ██ ████   ██ ██
 *    ██    ██    ██        ██████  ███████    ██       ██    ██      █████       ██████  ██    ██    ██       ██    ██    ██ ██ ██  ██ ███████
 *    ██    ██    ██        ██   ██ ██   ██    ██       ██    ██      ██          ██   ██ ██    ██    ██       ██    ██    ██ ██  ██ ██      ██
 *     ██████     ██        ██████  ██   ██    ██       ██    ███████ ███████     ██████   ██████     ██       ██     ██████  ██   ████ ███████
 */
.game-btn         { box-sizing:border-box!important; width: 100%; }
.ogabtn, .wgabtn  { box-sizing:border-box!important; width:90%; height:30%; border-radius:2%; background-color:#000!important; margin:auto; padding:4px; font-family:"Mercy";
                    background-position: 6% 50%!important; background-repeat:no-repeat!important; background-size: auto 50%!important; text-align:right; }
.ogabtn           { border:2px solid#f68228;color:#f68228; background: url("https://lutiaskokopelli.github.io/lwtq/ast/saveo.png");}
.ogabtn:hover     { border:2px solid #ffff40; color:#ffff40; background: url("https://lutiaskokopelli.github.io/lwtq/emj/soul.png"); }
.wgabtn           { border:2px solid#c3c3c3;color:#c3c3c3; background: url("https://lutiaskokopelli.github.io/lwtq/ast/savew.png"); }
.wgabtn:hover     { border:2px solid #ffffff; color:#ffffff; background: url("https://lutiaskokopelli.github.io/lwtq/emj/soul.png"); }
/*
 *    ██    ██ ████████     ██████  ██  █████  ██       ██████   ██████  ██    ██ ███████     ██████   ██████  ██   ██
 *    ██    ██    ██        ██   ██ ██ ██   ██ ██      ██    ██ ██       ██    ██ ██          ██   ██ ██    ██  ██ ██
 *    ██    ██    ██        ██   ██ ██ ███████ ██      ██    ██ ██   ███ ██    ██ █████       ██████  ██    ██   ███
 *    ██    ██    ██        ██   ██ ██ ██   ██ ██      ██    ██ ██    ██ ██    ██ ██          ██   ██ ██    ██  ██ ██
 *     ██████     ██        ██████  ██ ██   ██ ███████  ██████   ██████   ██████  ███████     ██████   ██████  ██   ██
 */
.game-box                             { box-sizing: border-box!important; width: 288px; height: 76px; border:3px solid #fff; background:#000; margin: 7px auto; }
.game-box a                           { color:#fff; }
.game-box .contentchr                 { padding:5px; width:100%;height:100%!important; }
.game-box .contentchr th:nth-child(1) { width: 56px; vertical-align:middle; } .game-box .contentchr td { vertical-align:text-top; }
.game-box .contentnar                 { padding:5px; width:100%;height:100%;} .game-box .contentnar td { vertical-align:text-top; }

.dr-box                               { box-sizing: border-box!important; width: 297px; height: 84px; border:16px solid transparent;
                                        border-image: url("https://lutiaskokopelli.github.io/lwtq/ast/tile_drbox.gif") 16 round; background:#000; margin: 7px auto; }
.dr-box a                             { color:#fff; }
.dr-box .contentchr                   { padding:5px; width:100%;height:100%!important; }
.dr-box .contentchr th:nth-child(1)   { width: 56px; vertical-align:middle; } .dr-box .contentchr td { vertical-align:text-top; }
.dr-box .contentnar                   { width:100%;height:100%;} .dr-box .contentnar td { vertical-align:text-top; padding:0px; }
/*
 *     ██████  ██████  ██       ██████  ██████      ██ ███████  ██████  ███    ██ ████████     ████████  █████   ██████  ███████
 *    ██      ██    ██ ██      ██    ██ ██   ██    ██  ██      ██    ██ ████   ██    ██           ██    ██   ██ ██       ██
 *    ██      ██    ██ ██      ██    ██ ██████    ██   █████   ██    ██ ██ ██  ██    ██           ██    ███████ ██   ███ ███████
 *    ██      ██    ██ ██      ██    ██ ██   ██  ██    ██      ██    ██ ██  ██ ██    ██           ██    ██   ██ ██    ██      ██
 *     ██████  ██████  ███████  ██████  ██   ██ ██     ██       ██████  ██   ████    ██           ██    ██   ██  ██████  ███████
 */
bso {color: #003cff;} cso {color: #42fcff;} gso {color: #00c000;} oso {color: #fca600;} pso {color: #d535d9;} rso {color: #ff0000;} yso {color: #ffff00;}
bda {color: #001d7f;} cda {color: #00a6c5;} gda {color: #008000;} oda {color: #ec6f00;} pda {color: #8f1c93;} rda {color: #800000;} yda {color: #f4d400;}
yga {color: #edd91a;} oga {color: #f68228;} rga {color: #e91d20;} gdi {color: #808080;} bga {color: #0077a2;} whi {color: #fff;}
inv {color:transparent;} inv::selection{color:#f00;background:#ff0;}
goh{ text-shadow:None; background: repeating-linear-gradient(45deg, rgb(240,96,196),rgb(240,79,97),rgb(241,133,76),rgb(242,184,104),
    rgb(240,220,128),rgb(182,237,113),rgb(151,231,115),rgb(144,219,160),rgb(136,206,203),rgb(240,96,196));
    -webkit-background-clip:text; background-clip: text; color:transparent;
    animation: rainbow_animation 3s ease-in-out infinite; background-size: 400% 100%; }
.wavy span {
position: relative;
display: inline-block;
animation: waver 1.5s ease-in-out infinite;
animation-delay: calc(0.1s * var(--i));
}
@keyframes waver {
0%,100% {transform: translateY(2.5px)}
50% {transform: translateY(-2.5px)}
}
sans {font-family: "sans"; font-size:0.9em;} paps {font-family: "paps"; font-variant: small-caps;}
sgame {font-family: "sgame";} mgame {font-family: "mgame";} dotum {font-family: "DotumChe"; font-size:0.8em;}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
nar  {margin-left:10px;margin-right:10px;display:block;text-align:justify;}
dad  {margin-left:30px;margin-right:30px;display:block;text-align:justify;}
dlg  {margin-left:50px;margin-right:50px;display:block;text-align:justify;}
void {display:block;height:12px;}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
tag { font-family: "MNC"; color: #edd91a; } tag a { color:#fff; } tag a:hover { color:#f68228; }
/*
 *    ████████ ███████ ██   ██ ████████      █████  ███    ██ ██ ███    ███  █████  ████████ ██  ██████  ███    ██
 *       ██    ██       ██ ██     ██        ██   ██ ████   ██ ██ ████  ████ ██   ██    ██    ██ ██    ██ ████   ██
 *       ██    █████     ███      ██        ███████ ██ ██  ██ ██ ██ ████ ██ ███████    ██    ██ ██    ██ ██ ██  ██
 *       ██    ██       ██ ██     ██        ██   ██ ██  ██ ██ ██ ██  ██  ██ ██   ██    ██    ██ ██    ██ ██  ██ ██
 *       ██    ███████ ██   ██    ██        ██   ██ ██   ████ ██ ██      ██ ██   ██    ██    ██  ██████  ██   ████
 */
@keyframes shake {0% {transform:skewX(-7deg);} 5% {transform:skewX(7deg);} 10% {transform:skewX(-7deg);} 15% {transform:skewX(7deg);} 20% {transform:skewX(0deg);} 100% {transform:skewX(0deg);}}
@keyframes shakebig {0% {transform:skewX(-17deg);} 5% {transform:skewX(17deg);} 10% {transform:skewX(-17deg);} 15% {transform:skewX(17deg);} 20% {transform:skewX(0deg);} 100% {transform:skewX(0deg);}}
@keyframes occasionalshake {0% {transform:skewX(-12deg);} 0.1% {transform:skewX(12deg);} 0.2% {transform:skewX(0deg);} 100% {transform:skewX(0deg);}}
/* @keyframes shake{ 0%  { transform: translateX(0); } 50% { transform: translateX(-0.5px); } 100%{ transform: translateX(0.5px); } } */
.shaktxt { animation: shake 0.1s infinite ; } .bshaktxt { animation: shakebig 0.1s infinite ; } .ocshaktxt { animation: occasionalshake 10s infinite ; }
@keyframes rainbow_animation { 0%,100% { background-position: 0 0; } 50% { background-position: 100% 0; } }
@keyframes peblink {
        0% { background: url("https://lutiaskokopelli.github.io/lwtq/ast/echo_flower_banner.png"); opacity:100%; }
        25% { background: url("https://lutiaskokopelli.github.io/lwtq/ast/echo_flower_banner.png"); opacity:100%; }
        50% { background: url("https://lutiaskokopelli.github.io/lwtq/ast/echo_flower_banner.png"); opacity:20%; }
        75% { background: url("https://lutiaskokopelli.github.io/lwtq/ast/echo_flower_banner.png"); opacity:100%; }
        100% { background: url("https://lutiaskokopelli.github.io/lwtq/ast/echo_flower_banner.png"); opacity:100%; }
      }
/*
 *    ██      ██ ███████ ████████ ███████
 *    ██      ██ ██         ██    ██
 *    ██      ██ ███████    ██    ███████
 *    ██      ██      ██    ██         ██
 *    ███████ ██ ███████    ██    ███████
 */
ul                           { margin:0px; margin-left: 12px; }
ul.save-point                { list-style-image:url("https://lutiaskokopelli.github.io/lwtq/ast/saveUT.gif"); }
ul.save-point a              { color: #c3c3c3; }
ul.save-point a:hover        { list-style-image:url("https://lutiaskokopelli.github.io/lwtq/ast/saveDR.gif"); color: #edd91a; }
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
ul.dlgmdt                    { list-style: "*"; font-family:"mgame"; padding: 0px 0px; letter-spacing:1px; }
ul.dlgmdt li                 { padding-left: 12px; }
ul.dlgmdt a:hover            { color:#edd91a; }
ul.dlgmdt a li:hover         { list-style:none; padding-left:0px; margin-left:-9px;  }
ul.dlgmdt a li:hover:before  { content:''; padding: 0 0 0 21;background:url("https://lutiaskokopelli.github.io/lwtq/ast/li-soul.png") no-repeat 0 50%; }
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
ul.dlgsdt                    { list-style: "*"; font-family:"mgame"; padding: 0px 0px; letter-spacing:1px; }
ul.dlgsdt li                 { padding-left: 12px; }
ul.dlgsdt a:hover            { color:#edd91a; }
ul.dlgsdt a li:hover         { list-style:none; padding-left:0px; margin-left:-9px;  }
ul.dlgsdt a li:hover:before  { content:''; padding: 0 0 0 21;background:url("https://lutiaskokopelli.github.io/lwtq/ast/li-soul.png") no-repeat 0 50%; }
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
ul.dlgsans                   { list-style: "*"; font-family:"sans" ; padding: 0px 0px; letter-spacing:1px; }
ul.dlgsans li                { padding-left:12px; }
ul.dlgsans a:hover           { color:#edd91a; }
ul.dlgsans a li:hover        { list-style:none; padding-left:0px; margin-left:-9px; }
ul.dlgsans a li:hover:before { content:''; padding: 0 0 0 21;background:url("https://lutiaskokopelli.github.io/lwtq/ast/li-soul.png") no-repeat 0 50%; }
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
ul.dlgpaps                   { list-style:none; font-family:"paps"; font-variant:small-caps; padding: 0px 0px; letter-spacing:0px; margin-left: 5px; }
ul.dlgpaps li                { padding-left:  0px; }
ul.dlgpaps a:hover           { color:#edd91a; }
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.ttable { font-family:"MNC"; font-size:20px; display: table;}
.ltable { display: table; } .ltable td:nth-child(1) { font-family:"MNC"; color: #848484; width: 140px; }
/*
 *    ██████  ██████   ██████  ██████  ██████   ██████  ██     ██ ███    ██
 *    ██   ██ ██   ██ ██    ██ ██   ██ ██   ██ ██    ██ ██     ██ ████   ██
 *    ██   ██ ██████  ██    ██ ██████  ██   ██ ██    ██ ██  █  ██ ██ ██  ██
 *    ██   ██ ██   ██ ██    ██ ██      ██   ██ ██    ██ ██ ███ ██ ██  ██ ██
 *    ██████  ██   ██  ██████  ██      ██████   ██████   ███ ███  ██   ████
 */
.drpdwn                   { position:relative; display:inline-block; width:100%; }
.drpdwn a                 { padding:5px; display:block; color:#fff;
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000, 1px 0px 0 #000,
    2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000,
    -1px 2px 0 #000, 1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000; }
.drpdwn a:hover           { color:#edd91a; }
.drpdwn:hover .drpdwn-ctt { display:block; }
.drpdwn-ctt               { overflow:hidden; display:none; position:absolute; z-index: 1; font-family:"mgame";
                            -webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out; width:200%; }
/*
 *    ███████ ██████   ██████  ██ ██      ███████ ██████      ██████  ██    ██ ████████ ████████  ██████  ███    ██
 *    ██      ██   ██ ██    ██ ██ ██      ██      ██   ██     ██   ██ ██    ██    ██       ██    ██    ██ ████   ██
 *    ███████ ██████  ██    ██ ██ ██      █████   ██████      ██████  ██    ██    ██       ██    ██    ██ ██ ██  ██
 *         ██ ██      ██    ██ ██ ██      ██      ██   ██     ██   ██ ██    ██    ██       ██    ██    ██ ██  ██ ██
 *    ███████ ██       ██████  ██ ███████ ███████ ██   ██     ██████   ██████     ██       ██     ██████  ██   ████
 */
.prompt {height:42px;vertical-align: middle;background:transparent;border:none;font-size:16px;margin-top:20px;margin-bottom:20px; list-style: none; font-family: "WinDin";
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000, 1px 0px 0 #000,
    2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000,
    -1px 2px 0 #000, 1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000;}
.prompt:hover { list-style-image: url("https://lutiaskokopelli.github.io/lwtq/ast/li-soul.png"); font-family:"Calibri";font-style:italic;font-weight:bold;font-size:16px;}
.prompt a {color:#808080;} .prompt a:hover {color:#fff;}

.spoiler {overflow:hidden;transition: margin 0.2s ease;}
.ogabtn[value="Show"] + .spoiler > div {margin-top:-100000%;}   .ogabtn[value="Hide"] + .spoiler {padding:5px;}
.wgabtn[value="Show"] + .spoiler > div {margin-top:-100000%;}   .wgabtn[value="Hide"] + .spoiler {padding:5px;}
.prompt[value="Show"] + .spoiler > div {margin-top:-100000%;}   .prompt[value="Hide"] + .spoiler {padding:5px;}
/*
 *    ██████  ██ ███████  ██████  ██████  ██████  ██████
 *    ██   ██ ██ ██      ██      ██    ██ ██   ██ ██   ██
 *    ██   ██ ██ ███████ ██      ██    ██ ██████  ██   ██
 *    ██   ██ ██      ██ ██      ██    ██ ██   ██ ██   ██
 *    ██████  ██ ███████  ██████  ██████  ██   ██ ██████
 */
.utpost a { color: #f68228; } .utpost a:hover { color: #ffff40; }
.drpost a { color: #f68228; } .drpost a:hover { color: #ffff40; }
.diarypost{ box-sizing: border-box!important; box-shadow: 0 0 3px 3px #000 inset; border-radius:3px; color:#000; width:100%; margin: auto; margin-bottom:17px; font-family:"Lucida";
    padding:10px; background: url("https://lutiaskokopelli.github.io/lwtq/ast/tile_paper.png"); } .diarypost h1 { font-family:"Lucida"; }
.dispost a {color:#00aff4;} .dispost a:hover { font-style:underline; }
.dispost .link-thumbnail { background-color:#2F3136; border-radius: 5px; padding: 20px; width:80%;}

.distitle {box-sizing: border-box!important; background-color: rgba(32,33,37,100); color: #fff; font-weight: bold; font-size:27px; padding:10px; border-radius: 15px 15px 0px 0px;
    text-align:center;font-family:"Calibri";width:100%;margin-left:auto;margin-right:auto;}
.disheader { box-sizing: border-box!important; background-color:rgba(48,49,54,100);border-bottom:2px solid #2C2F33;padding-bottom: .5em; padding-left: -.5em; padding-right: -.5em;
    display: table; margin-bottom: -.5em; width: 100%;margin-left:auto;margin-right:auto; font-family:"Calibri"; }
.distitlend { background-color: rgba(32,33,37,100); color: rgba(255,255,255,0.5); padding:10px; border-radius: 0px 0px 15px 15px; text-align: center; width: 100%; }
.disut, .disdm { box-sizing: border-box!important; font-family:"Calibri"; font-size:24px; display:table; margin:auto; background-color:#36393E; width:100%; padding:5px; }

.disut a, .disdm a {color:#00aff4;} .disut a:hover, .disdm a:hover { text-decoration:underline; }
.disut td div, .disdm td div { display: block; } .disut td div img, .disdm td div img { vertical-align: middle; }
.disut td:nth-child(1), .disdm td:nth-child(1) {       width: 90px; vertical-align: top; }
.disut td:nth-child(2), .disdm td:nth-child(2) { line-height: 32px; }

.disut pfp    { font-family:   "mgame"; font-size: 28px; font-weight:normal;
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000, 1px 0px 0 #000,
    2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000,
    -1px 2px 0 #000, 1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000; }
.disdm pfp    { font-family: "Calibri"; font-size: 28px; font-weight: bold; }

.utpost  pfp, .drpost  pfp  { font-family:   "mgame"; font-size: 24px; font-weight:normal; }

.disut li.sts { font-family:  "mgame";   font-weight:normal; font-size:0.80em; line-height: 20px;     text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000, 1px 0px 0 #000,
    2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000,
    -1px 2px 0 #000, 1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000; }
.disdm li.sts { font-family:"Calibri"; font-weight:italic; font-size:0.80em; line-height: 20px;      }

.disut dtime { color: rgba(255, 255, 255, 0.2)!important; font-size:.57em; font-family:"MNC"; text-shadow:None; }
.disdm dtime { color: rgba(255, 255, 255, 0.2)!important; font-size:.75em; font-weight: 400; font-family:"Calibri"; text-shadow:None;}

.disut code { color:rgba(255,255,255,0.8); font-size: 80%; font-family: "Consolas"; border: 3px solid #2F3136; background-color:#2F3136; border-radius: 5px; }

img.icon    { display:       block; width: 64px; height: 64px; margin: auto; border-radius: 50%; }
img.emoji   { display:inline; max-height:32px!important; }
img.bigemoji{ display:inline; max-width:100px!important;max-height:100px!important; }
img.upload  { display:inline; max-height:640px; max-width:420px; border-radius: 15px; }
/*
 *     ██████ ██    ██ ███████ ████████  ██████  ███    ███     ██████   ██████  ██   ██ ███████ ███████
 *    ██      ██    ██ ██         ██    ██    ██ ████  ████     ██   ██ ██    ██  ██ ██  ██      ██
 *    ██      ██    ██ ███████    ██    ██    ██ ██ ████ ██     ██████  ██    ██   ███   █████   ███████
 *    ██      ██    ██      ██    ██    ██    ██ ██  ██  ██     ██   ██ ██    ██  ██ ██  ██           ██
 *     ██████  ██████  ███████    ██     ██████  ██      ██     ██████   ██████  ██   ██ ███████ ███████
 */
boxedbluestar, boxedyellowstar, boxedorangetile {
                  box-sizing: border-box!important; display:block; padding:17px; margin:auto;      width:95%; margin-bottom:17px; background-size: auto 500%!important;
                  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000, 1px 0px 0 #000,
                  2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000,
                  -1px 2px 0 #000, 1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000; }
boxedbluestar   { border:3px solid #0077a2; background: url("https://lutiaskokopelli.github.io/lwtq/ast/tile_bstar.png"); }
boxedyellowstar { border:3px solid #ffff00; background: url("https://lutiaskokopelli.github.io/lwtq/ast/tile_ystar.png"); }
boxedorangetile { border:3px solid #f68228; background: url("https://lutiaskokopelli.github.io/lwtq/ast/tile_corridor.png"); }
boxgame         { box-sizing: border-box!important; display:block; padding:17px; margin:17px auto; width:80%; background-color: 000; border: 3px solid #fff; font-family: "mgame"; }
wip             { box-sizing: border-box!important; display:block; padding:17px; margin:20px; color: #aaa; background: url("https://lutiaskokopelli.github.io/lwtq/ast/tile_glowstar.gif");
                  border:16px solid transparent; border-image: url("https://lutiaskokopelli.github.io/lwtq/ast/tile_drbox.gif") 16 round; /*font-style: italic; */
                  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000, 1px 0px 0 #000,
                  2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000,
                  -1px 2px 0 #000, 1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000; }
pebox   { box-sizing: border-box!important; display:block; padding:42px; margin:auto; width:100%; height:200px; margin-top:17px; margin-bottom:17px;
        background: url("https://lutiaskokopelli.github.io/lwtq/ast/echo_flower_banner.png"); font-family:"mgame"; font-size:30px;
        text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000, 1px 0px 0 #000,
        2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000,
        -1px 2px 0 #000, 1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000; }
peboxblink {color:transparent;box-sizing:border-box!important;display:block;padding:42px;margin:auto;width:100%;height:200px;margin-top:17px;margin-bottom:17px;animation:peblink 7s infinite;
        text-align:center; vertical-align:middle; font-family:"mgame"; font-size:30px;
        -webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out; transition-duration: 0.4s;}
peboxblink:hover { color: #fff;animation:none; background: url("https://lutiaskokopelli.github.io/lwtq/ast/echo_flower_banner.png");
        text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000, 1px 0px 0 #000,
        2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000,
        -1px 2px 0 #000, 1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000; }

#sginfo { box-sizing: border-box!important; position:relative; width:100%; font-family: "MNC"; padding-left:12px; font-size:10px; height:10px; line-height:10px; vertical-align: middle!important;}
.full-screen { box-sizing: border-box!important; position: relative; width: 320px; height:240px; margin: 7px auto; background-color: #000;}
.boxnorm, .boxboss { box-sizing: border-box!important; position: relative; width: 320px; height:118px!important; display:table; margin:auto; margin-bottom:5px;
                      background-size: auto 100%!important; background-repeat: no-repeat!important; background-position: center!important; text-align: center; }
.boxnorm{background:url("https://lutiaskokopelli.github.io/lwtq/ast/bg_battle_normal.png")} .boxboss{background:url("https://lutiaskokopelli.github.io/lwtq/ast/bg_battle_boss.png")}
div#screenbg { box-sizing: border-box!important; width: 320px; height:240px; background:url("https://lutiaskokopelli.github.io/lwtq/ast/starpattern.gif"); opacity:0.01; box-shadow: 0 0 3px 3px #000 inset; }
div#screenct { box-sizing: border-box!important; width: 320px; height:240px; position:absolute; top: 0; left:0;}
.sogabtn, .swgabtn { box-sizing:border-box!important; border-radius:2%; background-color:#000!important; margin:auto; font-family:"Mercy";
                     background-position: 6% 50%!important; background-repeat:no-repeat!important; background-size: auto 50%!important; text-align:right; width:75%; padding:2; }
.sogabtn           { border:1px solid #f68228; color:#f68228; background: url("https://lutiaskokopelli.github.io/lwtq/ast/saveo.png");}
.sogabtn:hover     { border:1px solid #ffff40; color:#ffff40; background: url("https://lutiaskokopelli.github.io/lwtq/emj/soul.png"); }
.swgabtn           { border:1px solid #c3c3c3; color:#c3c3c3; background: url("https://lutiaskokopelli.github.io/lwtq/ast/savew.png"); }
.swgabtn:hover     { border:1px solid #ffffff; color:#ffffff; background: url("https://lutiaskokopelli.github.io/lwtq/emj/soul.png"); }
.prevnext a        { color:#848484; } .prevnext a:hover { color:#f4d400; }
