#wrap{
    overflow-x:hidden
}
*{
    --dlgheight:128px;
    /* --dlgratio:3.98734; */
    --dlgratio:3.28125;
    --bgwidth:25%;
}





u {
    border-bottom: 2px dashed rgb(var(--emph));
}
.medialist .infoa > img {
    image-rendering: pixelated;
}
c {
    opacity: 17%;
}
.map td {
    position: relative;
    display: inline-block;
}
.map svg {
    font-size: 17px;
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow(3px 3px 3px rgb(var(--plblack)));
    font-family: KFhimaji;
}
.map circle {
    fill: rgb(var(--plred));
    stroke: rgb(var(--plwhite));
    fill-opacity: 0.8;
    stroke-width: 5;
}
.map text {
    fill: rgb(var(--plwhite));
    text-anchor: middle;
}
.map polygon {
    fill: rgba(var(--plred), 0.34);
    stroke: rgba(var(--plwhite), 0.34);
    stroke-width: 3px;
}
code {
    font-style: normal; display:none;
}
.goto {
    position: relative;
    display: block;
    margin: 100px auto;
    text-align: center;
    border: 5px solid rgb(var(--plred));
    background: rgb(var(--emph));
    width: 500px;
    color: rgb(var(--plwhite));
    padding: 17px;
    padding-left: 70px;
    border-radius: 42px;
    font-size: 24px;
}
.goto:before {
    content: url("../ast/chr/hintcoin1.png");
    position: absolute;
    left: 24px;
    top: 25%;
}
.goto:hover {
    color: rgb(var(--back));
}
.🇯🇵 {
    font-size: 1rem;
}
.🗺️ {
    font-style: italic;
}
.px {
    image-rendering: pixelated;
}
.bg img {
    border: 2px solid rgb(var(--plblack));
}
.bg {
    width:var(--bgwidth);
    position: relative;
}
.memo {
    width: 628px;
    height: 512px;
    font-size: 1.2rem;
    margin-right: 5px;
    display: table;
}
.memo p {
    padding: 0 150px;
    text-align: left;
}
.memo p:nth-child(1) {
    padding: 0 100px;
    text-align: center;
}
.memo.🇯🇵 p:nth-child(3) {
    padding: 0 0 0 150px;
}
.memo hr {
    width: 42%;
    margin: 7px auto;
    background: rgb(var(--plblack));
}
.memo div {
    display: table-cell;
    vertical-align: middle;
}
.memo.🇯🇵 {
    font-size: 1.1rem;
}
.i {
    width: 80px;
    text-align: center;
    height: var(--dlgheight);
}
.dlg {
    padding: 12px 34px 12px 34px;
    min-width:calc(var(--dlgheight)*var(--dlgratio));
    width: calc(var(--dlgheight)*var(--dlgratio));
    height: var(--dlgheight);
    margin-right: 5px;
    text-align: left;
    display:flex;
    align-items:center;
}
.translaytion td:last-child {
    min-height: var(--dlgheight);
    height: var(--dlgheight);
    position: relative;
    width:calc(var(--bgwidth) - 80px);
    overflow-x:hidden;
    /* overflow-y:visible; */
}
.row,tr,table,.dlg,td {overflow-y:visible!important}
.translaytion td .row{
    overflow-x:auto;
    /* position:relative; */
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    --fore:var(--back);--midd:var(--back);
    overscroll-behavior: none;
}
.translaytion {
    table-layout: fixed;
    overflow-x:hidden;
    border-spacing: 10px 0;
}
.translaytion .fancydlg {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width:calc(var(--dlgheight)*var(--dlgratio));
    width: calc(var(--dlgheight)*var(--dlgratio));
    /* width: 420px; */
    text-align: center;
    font-size: 1.2rem;
    background: rgb(var(--bgd));
    border-radius: 42px;
    transform: scale(95%);
    padding: 42px;
}
