#wrap{
    overflow-x:hidden
}
*{
    --dlgheight:128px;
    --dlgratio:3.28;
    --bgwidth:25%;
    --screenratio:1.23;
}
u {
    border-bottom: 2px dashed rgb(var(--emph));
}
.medialist .infoa > img {
    image-rendering: pixelated;
}
c {
    opacity: 17%;
}
.map td {
    position: relative;
    display: inline-block;
}
.map svg {
    font-size: 17px;
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow(3px 3px 3px rgb(var(--plblack)));
    font-family: KFhimaji;
}
.map circle,.map ellipse {
    fill: rgb(var(--plred));
    stroke: rgb(var(--plwhite));
    fill-opacity: .8;
    stroke-width: 5;
}
.map text {
    fill: rgb(var(--plwhite));
    text-anchor: middle;
}
.map polygon {
    fill: rgba(var(--plred),.34);
    stroke: rgba(var(--plwhite),.34);
    stroke-width: 3px;
}
.map circle,.map text,.map polygon,.map ellipse{
    filter:drop-shadow(var(--borderlen)var(--borderlen)var(--borderlen)rgb(var(--plblack)))
}
.map g text{fill:rgb(var(--plwhite));display:none;font-size:20px;paint-order:stroke;stroke:rgb(var(--plblack));stroke-width:1.5%;text-anchor:start}
.map a:hover text{display:unset}
code {font-style:normal;display:none}
.map.interact svg a{opacity:0}
.map.interact svg a:hover{opacity:1}
.map.interact polygon,rect{opacity:0;transform-origin:center;transform-box:fill-box}

.map.interact rect{fill:rgba(var(--plcyan),.5)}

.goto {
    box-sizing:content-box;
    position: relative;
    width:fit-content;
    background: rgb(var(--plred));
    height:fit-content;
    border:5px solid;
    border-top-color:rgb(var(--plred));border-left-color:rgb(var(--plred));
    border-bottom-color:rgb(var(--plre2));border-right-color:rgb(var(--plre2));
    line-height:48px;
    padding: 6px 24px 6px 72px;
    border-radius: 48px;
    font-size: 24px;
    outline:5px solid rgb(var(--plwhite));
    margin:80px auto 0 auto;
    color: rgb(var(--plwhite));
}
.goto:hover {
    color:rgba(var(--back),.7);
    background:rgb(var(--plre2));
    border-top-color:rgb(var(--plre2));border-left-color:rgb(var(--plre2));
    border-bottom-color:rgb(var(--plred));border-right-color:rgb(var(--plred));
}
.goto:hover:before {
    opacity:.8
}
.goto + * {
    margin: 100px auto;
}
.goto:before {
    content: url("../../layton/ast/chr/hintcoin1.png");
    position: absolute;
    left: 12px;
    top: calc(50% - 24px);
}
.🇯🇵 {
    font-size: 1rem;
}
.🗺️ {
    font-style: italic;
}
.🗺️ .infob{
    min-width:fit-content;white-space:nowrap
}
.px {
    image-rendering: pixelated;
}
.bg img {
    border: 2px solid rgb(var(--plblack));
}
.bg {
    width:var(--bgwidth);
    position: relative;
}
.memo {
    height:calc(626px / var(--screenratio));
    width:50%;
    font-size: 1.2rem;
    display:table;
    margin:0;
}
.memo p {
    padding: 0 150px;
    text-align: left;
}
.memo p:nth-child(1) {
    padding: 0 100px;
    text-align: center;
}
.memo.🇯🇵 p:nth-child(3) {
    padding: 0 0 0 150px;
}
.memo hr {
    width: 42%;
    margin: 7px auto;
    background: rgb(var(--plblack));
}
.memo div {
    display: table-cell;
    vertical-align: middle;
}
.memo.🇯🇵 {
    font-size: 1.1rem;
}
.i {
    width: 80px;
    text-align: center;
    height: var(--dlgheight);
}
.dlg {
    padding: 12px 34px 12px 34px;
    min-width:calc(var(--dlgheight)*var(--dlgratio));
    width: calc(var(--dlgheight)*var(--dlgratio));
    height: var(--dlgheight);
    margin-right: 5px;
    text-align: left;
    display:flex;
    align-items:center;
}
.translaytion td:last-child {
    min-height: var(--dlgheight);
    height: var(--dlgheight);
    position: relative;
    width:calc(var(--bgwidth) - 80px);
    overflow-x:hidden;
    /* overflow-y:visible; */
}
.row,tr,table,.dlg,td {overflow-y:visible!important}
.translaytion td .row{
    overflow-x:auto;
    /* position:relative; */
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    --fore:var(--back);--midd:var(--back);
    overscroll-behavior: none;
}
.translaytion {
    table-layout: fixed;
    overflow-x:hidden;
    border-spacing: 10px 0;
}
.translaytion .fancydlg {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width:calc(var(--dlgheight)*var(--dlgratio));
    width: calc(var(--dlgheight)*var(--dlgratio));
    /* width: 420px; */
    text-align: center;
    font-size: 1.2rem;
    background: rgb(var(--bgd));
    border-radius: 42px;
    transform: scale(95%);
    padding: 42px;
}
