#wrap{
    overflow-x:hidden
}
*{
    --dlgheight:128px;
    --dlgratio:3.28;
    --bgwidth:calc(var(--dlgheight)*2.7);
    --screenratio:1.23;
}
u {
    border-bottom: 2px dashed rgb(var(--emph));
}
.medialist .infoa > img {
    image-rendering: pixelated;
}
c {
    opacity: 17%;
}
.map{position:relative}
.map td {
    position: relative;
    display: inline-block;
}
.map svg {
    font-size: 17px;
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow(3px 3px 3px rgb(var(--plblack)));
    font-family: KFhimaji;
}
.map circle,.map ellipse {
    fill: rgb(var(--plred));
    stroke: rgb(var(--plwhite));
    fill-opacity: .8;
    stroke-width: 5;
}
.map text {
    fill: rgb(var(--plwhite));
    text-anchor: middle;
}
.map polygon {
    fill: rgba(var(--plred),.34);
    stroke: rgba(var(--plwhite),.34);
    stroke-width: 3px;
}
.map .mv{
    fill:rgb(240,224,0);stroke:rgb(var(--plwhite));stroke-linejoin:round;opacity:.5
}
.map .mv:hover{
    opacity:1
}
.map circle,.map text,.map polygon,.map ellipse{
    filter:drop-shadow(var(--borderlen)var(--borderlen)var(--borderlen)rgb(var(--plblack)))
}
.map g text{
    display:none;
    font-size:20px;
    paint-order:stroke;
    stroke:rgb(var(--plblack));
    stroke-width:1.5%;
    text-anchor:start
}
.mainmap{border:3px solid rgb(var(--plblack));position:relative;text-align:center;margin:auto;margin-bottom:42px;width:42%}
.map a:hover text{display:unset}
code {font-style:normal;display:none}
.map.interact svg a{opacity:0}
.map.interact svg a:hover{opacity:1}
.map.interact polygon,rect{opacity:0;transform-origin:center;transform-box:fill-box}
.translaytion .map{border:none;width:50px}

.goto {
    box-sizing:content-box;
    position: relative;
    width:fit-content;
    background: rgb(var(--plred));
    height:fit-content;
    border:5px solid;
    border-top-color:rgb(var(--plred));border-left-color:rgb(var(--plred));
    border-bottom-color:rgb(var(--plre2));border-right-color:rgb(var(--plre2));
    line-height:48px;
    padding: 6px 24px 6px 72px;
    border-radius: 48px;
    font-size: 24px;
    outline:5px solid rgb(var(--plwhite));
    margin:80px auto 0 auto;
    color: rgb(var(--plwhite));
}
.goto:hover {
    color:rgba(var(--back),.7);
    background:rgb(var(--plre2));
    border-top-color:rgb(var(--plre2));border-left-color:rgb(var(--plre2));
    border-bottom-color:rgb(var(--plred));border-right-color:rgb(var(--plred));
}
.goto:hover:before {
    opacity:.8
}
.goto + * {
    margin: 100px auto;
}
.goto:before {
    content: url("../../layton/ast/chr/hintcoin1.png");
    position: absolute;
    left: 12px;
    top: calc(50% - 24px);
}
.🇯🇵 {
    font-size: 1rem;
}
.🗺️ {
    font-style: italic;
}
.🗺️ .infob{
    min-width:fit-content;white-space:nowrap
}
.px {
    image-rendering: pixelated;
}
.bg img{
    border: 2px solid rgb(var(--plblack));
}
.bg {
    position: relative;
    width:var(--bgwidth)!important;
}
.memo .row div {
    height:calc(50vh / var(--screenratio));
    font-size: 2vh;
    padding-top:2vh;
}
.memo p {
    padding:.5vh 7vh;
    font-size:1.6vh;
    text-align: left;
}
.memo p:nth-child(1) {
    text-align: center;
}
.memo hr {
    width: 42%;
    margin: 7px auto;
    background: rgb(var(--plblack));
}
.i {
    width: 80px;
    text-align: center;
    height: var(--dlgheight);
}
.dlg {
    padding: 12px 34px 12px 34px;
    min-width:calc(var(--dlgheight)*var(--dlgratio));
    width: calc(var(--dlgheight)*var(--dlgratio));
    height: var(--dlgheight);
    margin-right: 5px;
    text-align: left;
    display:flex;
    align-items:center;
}
.translaytion td:last-child {
    min-height: var(--dlgheight);
    height: var(--dlgheight);
    position: relative;
    overflow-x:hidden;
}
.row,tr,table,.dlg,td {overflow-y:visible!important}
.row{
    /* --fore:var(--back);--midd:var(--back); */
    overflow-x:auto;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    overscroll-behavior:none;
}
.translaytion {
    table-layout:fixed;
    overflow-x:hidden;
    border-spacing: 10px 0;
}
.translaytion .fancydlg {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width:calc(var(--dlgheight)*var(--dlgratio));
    width: calc(var(--dlgheight)*var(--dlgratio));
    text-align: center;
    font-size: 1.2rem;
    background: rgb(var(--bgd));
    border-radius: 42px;
    transform: scale(95%);
    padding: 42px;
}
