*{
    -moz-transition:all 0.3s ease-in-out;
    scrollbar-width:auto;
    scrollbar-color:rgb(var(--fore))transparent;
    overflow-anchor:none;
    --txtshw: 0 0 0.2em rgb(var(--plblack)), 0 0 0.2em rgb(var(--plblack)), 0 0 0.2em rgb(var(--plblack)), 0 0 0.2em rgb(var(--plblack)), 0 0 0.2em rgb(var(--plblack));
    --plblack:48,32,32;
    --plwhite:252,252,244;
    --plred:192,72,0;
    --plre2:152,48,0;
    --plcyan:48,120,128;
}
.row{
    scrollbar-color:transparent transparent;
}
*,
*:after,
*:before {
    -moz-box-sizing:border-box;
}
*:target {
    scroll-margin-top:80px;
}
cr {color:rgb(var(--plre2))}
cs {color:rgb(var(--plcyan))}
r {
    color: rgb(var(--plred));
    font-weight: 600;
}
html {
    font-family: Candara;
}
body {
    margin: 0;
    font-size: 1.25rem;
    background: rgb(var(--grey));
    color: rgb(var(--plblack));
    position: relative;
    width: 100%;
    padding: 0;
}
#wrap {
    position: absolute;
    width: 100%;
}
article {
    padding: 42px;
    text-align: justify;
    color: rgb(var(--plblack));
    overflow:visible;
}
.chcol {
    background: rgb(var(--back));
}
@media only screen and (orientation: landscape) {
    .chcol {
        width: 80%;
        min-width: min(97%,1500px);
        margin: 80px auto;
        outline: 17px solid rgb(var(--back));
        outline-offset:-1px;
        border-radius: 17px;
        padding: 17px 0;
        border:120px solid;
        color: rgb(var(--fore));
    }
    .emphprg {
        margin: auto;
        width: 70%;
    }
    article{
        width:calc(100% + 240px);
        margin:-120px
    }
}
@media only screen and (orientation: portrait) {

    .chcol {
        width: 100%;
        padding: 42px 0;
        background:rgb(var(--grey))
    }
    article {
        background:rgb(var(--back));
        border:7px double rgb(var(--midd));
        border-radius:17px
    }
}
wip {
    margin: 20px;
    padding: 42px;
    color: rgb(var(--plblack));
    background: rgba(var(--midd), 0.8);
    display: block;
    border-radius: 17px;
    box-shadow: 0 0 17px rgb(var(--midd));
}
wip a {
    color: rgb(var(--plred));
}
wip a:hover {
    color: rgb(var(--fore));
}
p {
    margin: 0;
}
.vb {
    margin: 0 0 2em 0;
}
.vs {
    margin: 0 0 0.5em 0;
}
img {
    max-width: 100%;
}
a {
    font-weight: 800;
    text-decoration: none;
    color: rgb(var(--fore));
}
a:hover {
    color: rgb(var(--emph));
}
ul {
    margin: 17px 0;
    list-style: disclosure-closed;
    padding-left:17px;
}
li {
    margin: 7px 0;
}
blockquote {
    border-left: 2px solid rgb(var(--midd));
    padding: 0 0 0 7px;
    margin: 17px 0 17px 7px;
}
.unex{color:rgb(var(--plred))!important}
s {
    aspect-ratio: 1/1;
    display: inline-block;
    height: 0.8rem;
}
svg {
    width: 100%;
    height: 100%;
}
svg.hat path {
    stroke-opacity: 1;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-width: 7;
    d: path("M0 90 0 100 100 100 100 90ZM75 75 75 0 20 0 20 75ZM20 75 20 90M75 75 75 90");
}
svg text{writing-mode:horizontal-tb!important}
svg path{stroke:none;fill-rule:evenodd;d: path("M0 10A10 10 45 100 9.999M1.5 10A8.5 8.5 45 101.5 9.999");}

svg.lgthat path{fill:rgb(var(--plblack))}
a svg.lgthat path{fill:rgb(var(--fore))}
a:hover svg.lgthat path{fill:rgb(var(--plred))}
d svg.lgthat,.h svg.lgthat{width:100px;height:100px}
d svg.lgthat{margin-top:50px}
.h svg.lgthat{margin-left:150px}
svg.lgthat path:nth-child(2){
    d: path("m3.47 16.47c1.62 1.21 3.46 1.23 3.75 1.21 1.05.03 2.08-.4 2.68-.61.68-.24 2.13-1.1 3.52-1.59.93-.34 1.76.12 1.96.47.2.32.89 1.42 2.24-.07.18-.23.13-.28-.08-1.14-.12-.35-.88-.8-1.22-.99-.33-.19-1.45-.16-1.79-.07-.43.07-1.34.39-1.74.63-.26.15-1.29.82-1.54.97-.56.34-1.31.72-1.75.9-.39.17-1.45.5-1.89.59-.27.06-.67.1-.95.1-.24 0-.73-.04-.96-.08-.22-.04-.69-.16-.9-.27-.21-.09-.64-.34-.84-.47-.34-.24-2.12-1.76-1-.64m8.35-13.06c1.58.2 2.87.76 3.71 1.37 1.18.97 1.28 1.18 1.31 1.27-.69 2.14-.85 3.54-1 4.64-.17 1.2-.29 2.6-.3 3.17-.74.12-1.27.42-1.75.63-.43.22-.99.56-1.69 1.08-.45.31-1.24.79-1.72 1.02-.44.23-1.36.57-1.82.73-.45.15-1.43.22-1.87.22-.57-.01-1.19-.19-1.77-.56-.25-.18-.89-.54-1.09-1.31-.24-1.16.61-1.19.79-1.19.39 0 1.09.3 1.92.68.1-.58.21-1.03 0-4.91-.28-3.06-.63-4.81-.7-5.08-.1-.72 1.21-1.05 1.58-1.19 1.7-.54 2.76-.68 4.37-.53")
}
svg.lgthat path:last-child{
    d: path("m3.47 16.47c1.62 1.21 3.46 1.23 3.75 1.21 1.05.03 2.08-.4 2.68-.61.68-.24 2.13-1.1 3.52-1.59.93-.34 1.76.12 1.96.47.2.32.89 1.42 2.24-.07.18-.23.13-.28-.08-1.14-.12-.35-.88-.8-1.22-.99-.33-.19-1.45-.16-1.79-.07-.43.07-1.34.39-1.74.63-.26.15-1.29.82-1.54.97-.56.34-1.31.72-1.75.9-.39.17-1.45.5-1.89.59-.27.06-.67.1-.95.1-.24 0-.73-.04-.96-.08-.22-.04-.69-.16-.9-.27-.21-.09-.64-.34-.84-.47-.34-.24-2.12-1.76-1-.64m8.35-13.06c1.58.2 2.87.76 3.71 1.37 1.18.97 1.28 1.18 1.31 1.27-.69 2.14-.85 3.54-1 4.64-.17 1.2-.29 2.6-.3 3.17-.74.12-1.27.42-1.75.63-.43.22-.99.56-1.69 1.08-.45.31-1.24.79-1.72 1.02-.44.23-1.36.57-1.82.73-.45.15-1.43.22-1.87.22-.57-.01-1.19-.19-1.77-.56-.25-.18-.89-.54-1.09-1.31-.24-1.16.61-1.19.79-1.19.39 0 1.09.3 1.92.68.1-.58.21-1.03 0-4.91-.28-3.06-.63-4.81-.7-5.08-.1-.72 1.21-1.05 1.58-1.19 1.7-.54 2.76-.68 4.37-.53m-3.23 9.76q.32-.22.41-.35c.83-1.07.44-2.88.32-3.78-.12-.79-.29-1.59-.33-2.38-.02-.12-.02-.12.08-.2q2.1-1.55 2.17-.28c0 .22.4.04.34-.47-.11-.77-.94-.77-2.02-.15-1.27.73-1.39.6-1.48.62-.46 0 .03.35.16.48.32.32.32.79.32 1.11q0 2.37 0 3.49c0 .95-.17 1.59-.79 2.07-.38.32-.39.17.31.96a.17.17 90 000 0c.05.01.07-.04.13-.09q.82-.55 1.3-.55c1.11-.17 1.93.48 3.07.26.64-.14 1.16-.81 1.3-1.26.87-2.71-3.41-3.3-3.09-1.07.31 1.11 1.58.63 1.42.17-.02-.09-.11 0-.16 0q-.47 0-.47-.49a.17.17 90 010 0c0-.77 1.47-.74 1.9-.02.88 1.68-.95 2.72-1.9 2.24-.58-.33-.79-.46-1.27-.63-.8-.16-1.44.17-1.72.32");
}
svg.lgthat path:first-child:last-child{
    d: path("m0 10a10 10 45 100-.001m5.59 7.691c.53 0 1.45-.1 1.69-.16.39-.07 1.39-.42 1.96-.66.52-.19 1.84-.81 2.27-.99.62-.19 1.07-.23 1.33-.19.22.01.69.13.88.26.09.06.55.45.74.54.04.04.23.12.76.21-.42.4-1.2 1.09-1.79 1.34-.51.22-1.33.5-1.84.63-.53.15-1.65.27-2.14.25-.49 0-1.51-.22-1.97-.36-.64-.21-1.83-.84-1.89-.87zm11.7-2.73c-.23-.51-1.01-.97-1.38-1.13-.6-.23-1.2-.31-1.85-.18-.42.06-1.32.4-1.71.62-.27.16-1.29.82-1.53.95-.55.34-1.29.71-1.73.9-.38.15-1.42.49-1.86.58-.26.05-.66.1-.95.1-.23 0-.7-.05-.92-.09-.22-.04-.68-.16-.9-.26-.2-.09-.63-.33-.82-.47-.2-.15-.6-.5-.75-.69-.24-.3-.75-1.2-.97-1.72-.23-.52-.5-1.44-.57-1.94-.09-.48-.15-1.48-.12-1.96.03-.51.21-1.5.34-1.99.12-.4.53-1.4.79-1.84.26-.49.77-1.2 1.15-1.61.35-.36 1.16-1.07 1.51-1.3.43-.29 1.32-.76 1.77-.93.47-.19 1.44-.44 1.94-.5.48-.08 1.43-.12 1.98-.06.51.04 1.56.25 1.97.39.41.12 1.38.58 1.81.82.49.29 1.23.88 1.57 1.22.37.36 1.01 1.12 1.28 1.55.26.42.7 1.32.88 1.79.16.41.39 1.45.45 1.93.07.54.07 1.47 0 2.01-.06.54-.28 1.51-.47 1.96-.19.51-.88 1.8-.91 1.85zm-6.37-12.71c1.58.2 2.94.76 3.71 1.37 1.18.97 1.26 1.13 1.21 1.31-.57 1.98-.75 3.5-.9 4.6-.17 1.2-.29 2.6-.33 3.29-.71 0-1.24.3-1.72.51-.43.22-.99.56-1.69 1.08-.45.31-1.24.79-1.72 1.02-.44.23-1.36.57-1.82.73-.45.15-1.43.22-1.87.22-.57-.01-1.19-.19-1.77-.56-.25-.18-.89-.54-1.09-1.31-.24-1.16.61-1.19.79-1.19.39 0 1.09.3 1.92.68.1-.58.21-1.03 0-4.91-.28-3.06-.63-4.81-.7-5.08-.1-.72 1.21-1.05 1.58-1.19 1.7-.54 2.76-.68 4.37-.57m-3.23 9.76q.32-.22.41-.35c.83-1.07.44-2.88.32-3.78-.12-.79-.29-1.59-.33-2.38-.02-.12-.02-.12.08-.2q2.1-1.55 2.17-.28c0 .22.4.04.34-.47-.11-.77-.94-.77-2.02-.15-1.27.73-1.39.6-1.48.62-.46 0 .03.35.16.48.32.32.32.79.32 1.11q0 2.37 0 3.49c0 .95-.17 1.59-.79 2.07-.38.32-.39.17.31.96a.17.17 90 000 0c.05.01.07-.04.13-.09q.82-.55 1.3-.55c1.11-.17 1.93.48 3.07.26.64-.14 1.16-.81 1.3-1.26.87-2.71-3.41-3.3-3.09-1.07.31 1.11 1.58.63 1.42.17-.02-.09-.11 0-.16 0q-.47 0-.47-.49a.17.17 90 010 0c0-.77 1.47-.74 1.9-.02.88 1.68-.95 2.72-1.9 2.24-.58-.33-.79-.46-1.27-.63-.8-.16-1.44.17-1.72.32")
}
svg.lgthat text{font-size:10px;font-weight:normal;fill:rgb(var(--back));text-anchor:middle;font-family:"Noto Serif JP"}

svg.canon path {
    stroke: rgb(var(--fore));
    fill: rgb(var(--fore));
}
svg.yroff path {
    stroke: rgb(var(--midd));
    fill: rgb(var(--midd));
}
svg.guess path {
    stroke: rgb(var(--emph));
    fill: rgb(var(--emph));
}
h1,
h2 {
    text-align: center;
    position: relative;
    margin-top: 0;
}
h1 {
    font-size: 3rem;
    color: rgb(var(--emph));
}
h2 {
    font-size: 2rem;
    color: rgb(var(--fore));
}
h3 {
    margin-top: 0;
    margin-bottom:12px;
    color:rgb(var(--fore));
    font-size:1.2rem;
}
h1 span {
    color: rgb(var(--midd));
    font-size: 0.7em;
}
h1 .hr,
h2 .hr {
    width: 90%;
    height: 4px;
    line-height: 4px;
    background: rgb(var(--midd));
    margin: 0.7em auto 1.4em auto;
    position: relative;
}
h1 .hr:before,
h1 .hr:after,
h2 .hr:before,
h2 .hr:after {
    content: "➽";
    color: rgb(var(--midd));
    position: absolute;
}
h1 .hr:before,
h2 .hr:before {
    transform: rotate(180deg);
    left: -10px;
}
h1 .hr:after,
h2 .hr:after {
    right: -10px;
}
h2 .hr {
    top: -3em;
}
hr {
    border: none;
    height: 2px;
    background: rgb(var(--fore));
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}
table {
    width: 100%;
    font-size: 1.25rem;
}
td {
    height: 100%;
}
.bar,
.hr {
    margin: 4em auto;
    line-height:1px;
}
.bar,
.hr,
.hourglass {
    text-align: center;
    text-indent: 0;
    position: relative;
}
.hr,
.hourglass {
    color: transparent;
}
.hourglass {
    height: 0;
    margin: 0;
}
.hourglass::before {
    content: "⊰ ⧗ ⊱";
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    color: rgb(var(--midd));
    font-size: 2.8em;
}
h1 + .hourglass::before {
    top: -1.9em;
}
.bar + .hourglass::before {
    top: -2.125em;
}
.bar {
    text-align: center;
    display: block;
    height: 4px;
    background: rgb(var(--midd));
    width: 94%;
}
.bar span {
    background: rgb(var(--back));
    color: rgb(var(--midd));
    font-weight: 800;
    font-size: 27px;
    padding: 17px;
}
.bar:before,
.bar:after {
    content: "➽";
    font-size: 2em;
    color: rgb(var(--midd));
    position: absolute;
}
.bar:before {
    transform: rotate(180deg);
    left: -10px;
}
.bar:after {
    right: -10px;
}
#filterinput::placeholder,
#filterinput:focus-within {
    opacity: 1;
    color: rgb(var(--plwhite));
    font-weight: 600;
    font-family: Roboto, Arial;
    text-shadow: var(--txtshw);
}
#filterinput:focus-visible {
    border: 3px solid rgb(var(--plwhite));
    outline: 5px solid rgb(var(--plblack));
    caret-shape: block;
    caret-color: rgb(var(--plwhite));
}
#filterinput:focus-visible::placeholder {
    opacity: 0.5;
}
#filterinput:focus-within {
    padding-left: 50px;
}
#filterinput {
    width: 100%;
    font-size: 16px;
    margin: 17px auto;
    border-radius: 100px;
    padding: 17px 50px;
    border: 3px solid rgb(var(--plwhite));
    background: linear-gradient(30deg, rgba(var(--plred), 1), rgba(var(--plred), 0));
    outline: 2px solid rgb(var(--plblack));
}
.infoa {
    cursor: help;
    position: relative;
}

table{
    overflow-y:visible!important
}
.infoa:hover > .infob,
.infob:hover {display:revert}
.medialist .infoa {
    margin: 3px;
    text-align: center;
}
.infob {
    font-weight: initial;
    font-style: initial;
    display:none;
    z-index: 99;
    background: rgba(var(--back), 0.95);
    border: 2px solid rgb(var(--midd));
    padding: 7px;
    text-align: left;
    font-size: 17px;
    color: rgb(var(--plblack));
    min-width: 256px;
    max-height: 500px;
    position: absolute;
    top: 2.3rem;
    left: -1rem;
}
.infob h2 {
    padding: 0 0 3px 0;
    margin: 0 0 17px 0;
    line-height: 120%;
    text-align: left;
    font-size: 20px;
    border-bottom: 2px solid rgb(var(--midd));
}
.infob h2:not(h2:first-child) {
    margin-top: 17px;
}
.medialist {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.mediacard {
    display: block;
    border-radius: 17px;
    width: 19%;
    min-width: 360px;
    padding: 17px;
    border: 3px solid rgb(var(--plblack));
    margin: 7px;
}
.logo {
    padding-bottom: 17px;
}
.title {
    text-align: center;
    font-weight: 800;
    border-radius: 17px;
    padding: 17px;
}
.title span {
    font-size: 2rem;
}
u {
    text-decoration: none;
    border-bottom: 2px dashed rgb(var(--emph));
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="checkbox"]{display:none}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
bt {
    display: none;
    background: rgb(var(--midd));
    padding: 3px;
    margin: 3px;
    border: 2px solid rgb(var(--fore));
    border-radius: 3px;
    font-size: 0.7em;
    font-family: Consolas;
}
button {
    border: 0 none;
    color: rgb(var(--plwhite));
    text-shadow: var(--txtshw);
    font-weight: 800;
    background: rgb(var(--fore));
    padding: 10px 12px 10px 12px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
}
a:active button {
    background: rgb(var(--midd));
}
.rmk {
    width: 512px;
    border: 3px solid rgb(205, 122, 30);
    background: rgb(247, 231, 146) !important;
    margin: 5px;
    padding: 5px;
}
.credit1 {
    position: absolute;
    top: 0;
    left: 0;
}
.credit2 {
    z-index:1;
    margin:17px;
    background:rgba(var(--plwhite),.3);
    white-space:nowrap;
    padding:7px;
    border-radius:5px;
    font-size:12px;
}
.tophat {
    height:12px;
    margin-bottom:-2px;
    border:none!important;
}
#selpage::placeholder,#selpage:focus-within{opacity:1;color:rgb(var(--plwhite));font-weight:600;font-family:Roboto,Arial;text-shadow:var(--txtshw)}
#selpage:focus-visible{border:3px solid rgb(var(--plwhite));outline:5px solid rgb(var(--plblack));caret-shape:block;caret-color:rgb(var(--plwhite))}
#selpage:focus-visible::placeholder{opacity:.5}
#selpage:focus-within{padding-left:42px}
#selpage{width:100%;font-size:16px;margin:17px auto;border-radius:100px;padding:17px 42px;border:3px solid rgb(var(--plwhite));background:linear-gradient(30deg,rgb(var(--plred)),rgb(var(--back)));outline:2px solid rgb(var(--plblack))}

input[type=checkbox]{display:none}
ruby{ruby-align:center;ruby-position:inter-character}
rt{
    pointer-events: none;
    user-select: none;
    font-style: normal;
    color:rgb(var(--midd));
    text-transform:full-size-kana;
}
.🗺️ rt{
    display:none;
    text-transform:none;
    color:rgb(var(--plblack));
    pointer-events:revert;
    user-select:revert;
    margin-bottom:-5px;
}
.🗺️{position:relative}
.🗺️ c{opacity:100%}
.🗺️:hover c{opacity:17%}
.🗺️:hover p,p.🗺️:hover{line-height:240%}
.🗺️:hover{min-height:calc(var(--dlgheight) * 1.5)}
.🗺️:hover rt{display:revert}
.🗺️:hover ruby{position:relative}
.🗺️:hover rt i{position:absolute;top:-17px;display:inline-block;width:100%;left:0;text-align:center}
.🗺️:hover .infoa{color:rgb(var(--plred));font-weight:800}
.🗺️ .infoa{position:revert}
.🗺️ .infob{top:7px;left:7px;line-height:150%}
.🗺️ .infob a,.🗺️ rt a{text-decoration:3px underline dotted rgb(40,202,40);text-underline-offset:3px;color:unset}.🗺️ rt a{font-weight:normal}
inv{display:none}
.🗺️:hover inv{display:unset}
