*{--nblines:18;--nbrows:42}
#wrap{overflow-x:auto;padding:50px;min-width:fit-content;width:100%;left:0}
#sidenav{left:-100%}
#openbtn{left:5px}

.chcol,article{width:fit-content}
.page{position:relative;padding:50px}

.nov{border-collapse:collapse;table-layout:fixed;width:calc(2 * 2*var(--nblines)*20px + 200px)}
.nov > tbody > tr{height:0}
.nov > tbody > tr:not(:first-child) > th{padding:50px}
.nov > tbody > tr > td{
    padding:50px;
}
.nov > tbody > tr > td:first-child{
    padding-left:16px;
    border-right:7px double rgb(var(--midd));
}
.nov > tbody > tr:first-child > td{padding-top:0;padding-bottom:0}
.nov > tbody > tr:last-child > td{border-bottom:none}
.nov > tbody > tr > td{padding-top:50px;padding-bottom:50px;border-bottom:7px double rgb(var(--midd))}
.nov > tbody > tr > td:last-child{padding-right:16px}
.v d,.v .h{display:block}
.v d{
    writing-mode:vertical-rl;
    margin:50px auto;
    height:calc(var(--nbrows)*20px);
    width:calc(100% - 16px - 50px);
}
.v d span{text-combine-upright:all}
.v d span.emph{text-combine-upright:unset;color:rgb(var(--fore));font-family:'游ゴシック';font-weight:800}

.page > span:last-child{position:absolute;bottom:50px;font-size:.7em;font-family:"Noto Serif JP"}
.page:first-child > span:last-child{left:17px}
.page:last-child > span:last-child{right:17px}
tr:last-child .page > span:last-child{bottom:0}

.v d h2{font-family:'游ゴシック';font-weight:600}
.v p{margin:0 12px}
.h p{margin:17px 80px;text-indent:2em!important;text-align:justify}

.h blockquote{position:relative;border:7px double rgb(var(--midd));border-radius:50px;padding:50px;font-style:italic}
.h blockquote p{margin:17px 0!important}
.h blockquote:before{content:'“';font-size:100px;color:rgb(var(--fore));paint-order:stroke;stroke:rgb(var(--plblack));stroke-width:1.5%;fill:rgb(var(--plwhite));position:absolute;top:-15px;left:20px}
.h blockquote:after {content:'”';font-size:100px;color:rgb(var(--fore));paint-order:stroke;stroke:rgb(var(--plblack));stroke-width:1.5%;fill:rgb(var(--plwhite));position:absolute;bottom:-50px;right:15px}

*:lang(ja){font-family:"Noto Serif JP";white-space:nowrap}
*:lang(ja) rt{padding-top:3px;padding-bottom:3px;color:rgba(var(--plblack),.5)}
.h rt{font-size:.7rem;margin-bottom:0}
.h rt i{margin-top:-.5rem;text-indent:0}
.h .infoa{position:relative}.h .infob{text-indent:0;top:2rem}
.unex{color:rgb(var(--plred))!important}

.charpres{flex-direction:column;align-items:center;display:flex;background:rgba(var(--midd),.42);position:relative;border:3px solid rgb(var(--fore));padding:17px;width:80%;margin:17px 0}
.charpres:nth-child(odd){margin-left:calc(20% - 17px);border-radius:25px 25px 0 25px}
.charpres:nth-child(even){margin-right:calc(20% - 17px);border-radius:25px 25px 25px 0}

.charpres p{margin:0;width:100%;text-indent:0!important}
.charpres img{position:absolute;height:240px;bottom:0;right:17px}
