.puzzle {
    font-size:2vh;
    font-weight:800;
}
.puzzle th{
    width:50%;
}
.puzzle th > img,.puzzle td > img{
    border:2px solid rgb(var(--plblack));
}
.puzzle .map svg{
    filter:none;
}
.puzzle svg text{
    text-anchor:middle;
    fill:rgb(var(--plblack));
    font-family:Candara;
}
.puzzle tr:first-child text{
    font-size:2rem;
    font-weight:800;
}
.puzzle tr:first-child th:first-child text:first-child{
    font-size:6rem;
}
.puzzle tr:first-child th:first-child text tspan{
    fill:rgb(var(--plred));font-size:1.2rem;pointer-events:none;
}
.puzzle tr:first-child th:last-child text{
    font-style:italic;
    fill:rgb(72,32,0);
}
.puzzle tr:first-child th:last-child text:nth-child(2) tspan{
    font-size:8rem;
}
.puzzle tr:first-child th:last-child text:first-child tspan:nth-child(2){
    fill:rgb(var(--plred));
}
.puzzle tr:first-child th:last-child text:last-child{
    text-anchor:start;
}
.puzzle tr:first-child th:last-child text:nth-child(2){
    fill:rgb(var(--plre2));
    font-size:10rem;
}
.puzzle tr:first-child th:last-child text:nth-child(3){
     font-size:7rem;
}
.puzzle tr:first-child th:last-child text:nth-child(5){
    stroke:rgb(var(--plwhite));
    stroke-width:2.5px;
    fill:rgb(var(--plre2));
    font-size:4rem;
    text-anchor:end;
}
.pimg{text-align:center}
.pzlq{position:relative;text-align:center}.pzlq *{text-align:justify}
.pzlq div{
    position:absolute;
    top:5vw;
    left:5vw;
    height:calc(100% - 10vw);
    width:calc(100% - 10vw);
    overflow:auto;
    scrollbar-color:transparent transparent;
}
.pzlq p{
    margin-bottom:5vw;
    padding-bottom:5vw;
    border-bottom:2px solid rgb(var(--fore));
}
.pzlhint{margin:3vw auto;max-width:1024px}
.pzlhint a:nth-child(1) button{
    background:rgb(var(--bgl));
}
.pzlhint a:nth-child(2) button{
    background:rgb(var(--hint1));
}
.pzlhint a:nth-child(3) button{
    background:rgb(var(--hint2));
}
.pzlhint a:nth-child(4) button{
    background:rgb(var(--hint3));
}
.pzlhint .container > div:nth-child(n + 2){
    display:none;
}
.hint {
    padding:5vw;
    height:30vw;
    margin:auto;
    overflow:auto;
    background:rgb(var(--bgl));
    border-radius:0 3vw 3vw 3vw;
    scrollbar-color:transparent transparent;
}
.hint .row div {
    padding: 3vw;
    border-right: 2px solid rgb(var(--fore));
    width: 50%;
}
.hint > div:nth-child(n + 2) {
    display: none;
}
.hint h2 {
    font-size: 42px;text-align:left
}
