*{
    --midd:179,176,79;
    --emph:var(--plred);
    --back:254,224,163;
    --fore:63,121,99;
    --grey:219,184,145;
}
@media only screen and (min-width:1201px) and (orientation:landscape){
    body{background:url(https://64.media.tumblr.com/33593447b1d12e63c5494ba13b6a7f58/ccbcc9f3dae5425b-90/s2048x3072/66756e875d60813736a6b0f771d76e1cca7ff399.pnj)center center fixed;background-size:100%auto}
    .chcol{width:50%;min-width:1080px}
}
article{color:rgb(var(--fore))}
.vb,.vs{text-indent:2.5em}
/* *{--emph:232,83,89;}
.writing{text-align:center!important;font-family:Bradley Hand ITC, Lucida Handwriting, Ink Free, Segoe Script, Segoe Print, Goudy Old Style, Perpetua, Lucida Calligraphy, Arial Rounded, Gabriola, Kristen, Brush Script MT, Garamond, Georgia, Times New Roman;text-indent:0!important;font-size:1.2em;font-weight:600;margin:3em auto}
u{text-decoration:none}u svg.u{position:absolute;left:5%;width:90%;fill:none;stroke:rgb(var(--fore));stroke-width:1px;top:50%}svg.u path{d:path('m1.99 8.91c55.43 4.08 111.58 5.82 167.12 2.87 22.71-1.21 45.4-.6 68.13-.78 28.38-.22 56.76-1.02 85.14-1.33 24.17-.26 48.43.57 72.58.57')}
*/
