*{-moz-transition:all 0.3s ease-in-out;scrollbar-width:auto;scrollbar-color:rgb(var(--fore))rgb(var(--back));
    --txtshw:0 0 0.2em rgb(var(--plblack)),0 0 0.2em rgb(var(--plblack)),0 0 0.2em rgb(var(--plblack)),0 0 0.2em rgb(var(--plblack)),0 0 0.2em rgb(var(--plblack));
    --plblack:48,32,32;--plwhite:252,252,244
}*,*:after,*:before{-moz-box-sizing:border-box}*:target{scroll-margin-top:80px}
body{margin:auto;font-family:Candara;background:rgb(var(--grey))}body,table{text-align:justify;font-size:1.25rem}
rt{pointer-events:none;user-select:none;color:rgb(var(--emph));font-weight:800;ruby-align:center;font-size:0.5rem;font-style:normal}
img{max-width:100%}table{width:100%}td{height:100%}a:not(.infob){font-weight:800}a{text-decoration:none;color:rgb(var(--fore))}a:hover{color:rgb(var(--emph))}ul{margin:17px 0}ul{list-style:disclosure-closed}li{margin:17px 0}
blockquote{border-left:2px solid rgb(var(--midd));padding:0 0 0 7px;margin:17px 0 17px 7px}
.medialist p,blockquote p,.puzzle p{margin:0}

.wrap{position:absolute;width:100%}
article{padding:42px;text-align:justify}

.chcol{background:rgb(var(--back))}
.ch{background:rgb(var(--back));width:100%}.chcol + .chcol{margin-top:80px}.chctn{color:rgb(var(--fore))}

@media only screen and (min-width:1081px){
.chcol{width:80%;min-width:1000px;margin:50px auto;box-shadow:0 0 17px rgb(var(--back));border-radius:42px;padding-top:5px;padding-bottom:5px}
.chctn{margin:1rem auto;border:4px solid;width:calc(100% - 36px);padding:16px}
.chctn,.ch{position:relative}
.ch{border:4px solid;border-radius:5px}
.chctn:before,.chctn:after,.ch:before,.ch:after{content:'';position:absolute;width:42px;height:42px;border:4px solid;z-index:2}
.chctn:before{top:-4px;left:-4px;border-radius:0 0 5px 0;border-color:rgb(var(--back))rgb(var(--fore))rgb(var(--fore))rgb(var(--back))}
.chctn:after{top:-4px;right:-4px;border-radius:0 0 0 5px;border-color:rgb(var(--back))rgb(var(--back))rgb(var(--fore))rgb(var(--fore))}
.ch:before{bottom:-24px;left:-24px;border-radius:0 5px 0 0;border-color:rgb(var(--fore))rgb(var(--fore))rgb(var(--back))rgb(var(--back))}
.ch:after{bottom:-24px;right:-24px;border-radius:5px 0 0 0;border-color:rgb(var(--fore))rgb(var(--back))rgb(var(--back))rgb(var(--fore))}
}
@media only screen and (max-width:1080px){
    .chcol{width:100%}
    .chctn{margin:1rem auto;width:100%;padding:16px}
}

.vb{margin:0 0 2em 0}.vs{margin:0 0 0.5em 0}.chap .vb,.vs{text-indent:2.5em}

.infoa:hover .infob,.infob:hover{visibility:visible}.infoa{cursor:help;position:relative}
.infob{visibility:hidden;z-index:99;background:rgba(var(--back),0.95);border:2px solid rgb(var(--midd));padding:7px;text-align:left;font-size:17px;color:rgb(var(--plblack));min-width:256px;overflow-y:auto;overflow-x:hidden;max-height:500px;position:absolute;top:2.3rem;left:-1rem}
.infob h2{padding:0 0 3px 0;margin:0 0 17px 0;line-height:120%;text-align:left;font-size:20px;border-bottom:2px solid rgb(var(--midd))}
.infob h2:not(h2:first-child){margin-top:17px}

.credit1{position:absolute;top:0;left:0}.credit2{z-index:1;margin:17px;background:rgba(var(--plwhite),0.5);padding:7px;border-radius:5px;font-size:14px}
.tophat{height:20px;margin-bottom:-5px;border:none!important}

.medialist{display:flex;align-items:center;justify-content:center;flex-wrap:wrap}.medialist .infoa{margin:3px;text-align:center}
.mediacard{border-radius:17px;width:20%;min-width:300px;padding:17px;padding-top:0;border:3px solid rgb(var(--plblack));height:min-content;margin:7px}
.logo{width:100%;height:128px;background-repeat:no-repeat;background-size:100%auto;background-position:center}
.title{text-align:center;font-weight:800;border-radius:17px;padding:17px}.title span{font-size:2rem}

wip{margin:20px;padding:42px;color:rgb(var(--plblack));background:rgb(var(--midd));display:block;border-radius:17px;box-shadow:0 0 17px rgb(var(--midd))}
wip a{color:rgb(var(--emph))}wip a:hover{color:rgb(var(--emp2))}

h1,h2,h3{line-height:200%;text-align:center;margin:0 auto 1.7em auto}
h1{font-size:3rem;color:rgb(var(--emph))}
h2{font-size:2rem;font-weight:800;color:rgb(var(--fore))}
h3{color:rgb(var(--emph));line-height:150%}
h1 span{color:rgb(var(--midd));line-height:100%;font-size:0.7em}
h1 .hr,h2 .hr{width:90%;background:rgb(var(--midd));height:3px;margin:1em auto;margin-bottom:1.665em;top:2px}
h1 .hr:before,h1 .hr:after,h2 .hr:before,h2 .hr:after{content:'➽';color:rgb(var(--midd));position:absolute}
h1 .hr:before,h2 .hr:before{transform:rotate(180deg)translatey(50%);left:-10px}h1 .hr:after, h2 .hr:after {right:-10px;transform:translatey(-50%)}
h2 .hr{top:-3em}

.bar{display:block;margin-top:-2em;line-height:3px;height:3px;background:rgb(var(--midd));font-weight:800;width:94%}
.bar span{background:rgb(var(--back));padding:17px;font-weight:800;font-size:27px;color:rgb(var(--midd))}
.bar:before,.bar:after{content:'➽';font-size:2em;color:rgb(var(--midd));position:absolute}
.bar:before{transform:rotate(180deg);left:-10px}.bar:after{right:-10px}
.bar,.hr{margin:4em auto}.bar:last-child,.hr:last-child{margin-bottom:17px}
.bar,.hr,.hourglass{text-align:center!important;text-indent:0!important;position:relative}
.hr,.hourglass{color:transparent}
.hourglass{height:0;margin:0}.hourglass::before{content:'⊰ ⧗ ⊱';position:absolute;top:-2.125em;left:0;width:100%;text-align:center;color:rgb(var(--midd));font-size:2.8em}

.writing{text-align:center!important;font-family:Bradley Hand ITC, Lucida Handwriting, Ink Free, Segoe Script, Segoe Print, Goudy Old Style, Perpetua, Lucida Calligraphy, Arial Rounded, Gabriola, Kristen, Brush Script MT, Garamond, Georgia, Times New Roman;text-indent:0!important;font-size:1.2em;font-weight:600;margin:3em auto}
u{text-decoration:none}u svg.u{position:absolute;left:5%;width:90%;fill:none;stroke:rgb(var(--fore));stroke-width:1px;top:50%}svg.u path{d:path('m1.99 8.91c55.43 4.08 111.58 5.82 167.12 2.87 22.71-1.21 45.4-.6 68.13-.78 28.38-.22 56.76-1.02 85.14-1.33 24.17-.26 48.43.57 72.58.57')}

hr{border:none}

#main.container > div:nth-child(n+2){display:none}
