*:not(.cardext)>it:not(.misc)>details>summary:before{content:'';display:inline-block;width:2em;height:2em;margin-bottom:-.5em;margin-right:.2em;background:url('../img/chr_eye.png');background-size:contain}
it,it *,.fkno,.fkno *{--emph:var(--orng);--fore:var(--purplel);--midd:var(--purpled)}
.misc,.misc *{--emph:var(--orng);--fore:var(--indigol);--midd:var(--indigod)}
.mau,.mau *{--emph:var(--orng);--fore:219,112,147;--midd:199,21,133}.mau>details>summary:before{background-image:url('../img/chr_hea_hal.png')!important}
.ahau,.ahau *{--emph:var(--orng);--fore:255,127,80;--midd:219,122,50}.ahau>details>summary:before{background-image:url('../img/chr_hea_gabbro.png')!important}
.scau,.scau *{--emph:var(--purplel);--fore:50,120,200;--midd:var(--indigod)}.scau>details>summary:before{background-image:url('../img/chr_hea_firn.png')!important}

@media only screen and (max-aspect-ratio:3/4){*{--colwid:calc(max(85vw,500px));--taggrid:1fr;--h2pad:5%}#filterlist{column-width:var(--colwid)}}
@media only screen and (min-aspect-ratio:3/4) and (max-aspect-ratio:4/3){*{--colwid:calc(max(42vw,500px));--taggrid:1fr 1fr;--h2pad:10%}#filterlist{column-width:var(--colwid)}}
@media only screen and (min-aspect-ratio:4/3){*{--colwid:calc(max(25vw,500px));--taggrid:1fr 1fr 1fr;--h2pad:29%}#filterlist{column-width:var(--colwid)}}
dlgprt{width:1em;display:inline-block;height:.7em;background:url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 30 22'%3E%3Cpath fill='rgb(249,130,50)' d='M0 0 18 0 30 11 18 22 0 22 11 11Z' /%3E%3C/svg%3E%0A")center no-repeat}
@media only screen and (orientation:landscape){body{font-size:22px}}
@media only screen and (orientation:portrait){body{font-size:4vw}#sidenav{width:64%}}
.spanintro{padding:0 12px;color:#fff;font-weight:800;border-radius:20px;margin:2px;border:2px solid rgb(var(--indigod));background:rgba(var(--indigod),.8);box-decoration-break:clone;-webkit-box-decoration-break:clone}
#findtaginput{display:block;width:90%;margin:17px auto}
.all{background:rgb(var(--black),.8);margin-top:-50px;padding-top:50px;width:100%;padding-bottom:90.7vh}
.tagcategory{padding:17px;overflow:auto;text-align:left;border:2px solid rgb(var(--redd));background:rgba(var(--redd),.1)}
.tagcategory h2{font-size:1.4em;opacity:.9}
.tagcategory img{height:32px;display:inline-block;vertical-align:middle}
.tagcategory .infob{max-width:5vh}
input{margin:3px 2px;cursor:pointer;padding:4px 7px;border-radius:12px;border:2px solid rgb(var(--indigod));vertical-align:middle}
input:hover{filter:brightness(150%)}
input:not(#resetsearch,#startsearch,#findtaginput,#openclosesh):not(.include,.exclude){background-color:rgba(var(--indigod),.8)!important;color:rgb(var(--white))}
input:not(#resetsearch,#startsearch,#findtaginput){font-size:.7em}
.include{background-color:rgb(var(--greend))!important;color:#fff;border-color:rgb(var(--greend))}
.exclude{background-color:rgb(var(--redd))!important;color:#fff;border-color:rgb(var(--redd))}
#resetsearch,#startsearch,#openclosesh{position:absolute;bottom:0;top:-3px;width:150px;height:100%;font-size:20px;padding:10px 17px;font-weight:600;color:rgb(var(--white));border:none}
#openclosesh{right:300px;border-radius:0;background:rgb(var(--goldd))}
#openclosesh:hover{background:rgb(var(--goldl));color:#fff}
#resetsearch{right:150px;border-radius:0;background:rgb(var(--redd))}
#resetsearch:hover{background:rgb(var(--redl));color:#fff}
#startsearch{right:0;border-radius:0 20px 20px 0;background:rgb(var(--greend))}
#startsearch:hover{background:rgb(var(--greenl));color:#fff}
#activetags{padding:20px;min-height:50px;width:calc(100% - 300px);background:rgba(var(--goldl),.3);border:3px solid rgb(var(--goldd));border-right:none;border-radius:20px 0 0 20px}
#activetags p{font-family:Calibri;font-size:14px;display:inline-block;padding:5px 12px;color:#fff;font-weight:800;border-radius:20px;margin:2px;border:2px solid}
#activetags .include{background:rgba(var(--greend),.8);border-color:rgb(var(--greend))}
#activetags .exclude{background:rgba(var(--redd),.8);border-color:rgb(var(--redd))}
hr{margin:12px -12px;width:calc(100% + 24px);background:rgb(var(--fore))}
table div:has(.infob):before{content:'*';color:orange;position:absolute;left:1%;top:calc(50% - .7em);border-radius:50%;font-family:Consolas;border:2px solid orange;height:1em;width:1em;line-height:1.12em;text-align:center;font-weight:600;font-size:.95em}
td>div>p:not(.infob),td>p:not(.infob){padding-left:2em!important}
details>p{margin:12px 0}
.infob{font-size:1.2em;left:0;top:calc(100% + 5px);border:7px double rgb(var(--emph));outline:3px solid rgb(var(--white))}
.infob img{height:revert}
p.infob{padding:7px;margin:0}
.infob > *:last-child{margin-bottom:0}
#filterlist{column-count:auto;column-gap:17px;width:92%;margin:42px auto}
@media only screen and (max-aspect-ratio:3/4)                           {*{--colwid:calc(max(85vw,500px));--taggrid:1fr;--h2pad:5%}#filterlist{column-width:var(--colwid)}}
@media only screen and (min-aspect-ratio:3/4) and (max-aspect-ratio:4/3){*{--colwid:calc(max(42vw,500px));--taggrid:1fr 1fr;--h2pad:10%}#filterlist{column-width:var(--colwid)}}
@media only screen and (min-aspect-ratio:4/3)                           {*{--colwid:calc(max(25vw,500px));--taggrid:1fr 1fr 1fr;--h2pad:29%}#filterlist{column-width:var(--colwid)}}
it{break-inside:avoid;display:block;width:100%;height:fit-content;border-radius:17px;padding:10px;text-align:left;border:3px solid rgb(var(--fore));background:rgba(var(--midd),.1);margin-bottom:17px}
it *{margin-top:0}
it *:not(rt,table,li,img,span,p,t,br)+*:not(rt,table,li,img,span,p,t,br){margin-top:12px}
details > *:last-child{margin-bottom:0}
it h1{font-size:1.5em;margin-bottom:17px;border-bottom:3px solid rgb(var(--emph));color:rgb(var(--white))}
it details>h2,it details>a>h2,#filterlist>a>h2{font-size:1.2em;border-radius:10px;margin:12px auto;padding:5px 17px 5px 17px;background:rgba(var(--fore),.9);color:rgb(var(--white))}
a>h2{text-shadow:0 0 .1em black,0 0 .1em black,0 0 .1em black,0 0 .1em black,0 0 .1em black,0 0 .1em black,0 0 .1em black,0 0 .1em black,0 0 .1em black,0 0 .1em black}
a>h2>dlgprt{filter:drop-shadow(0 0 .025em black)drop-shadow(0 0 .025em black)drop-shadow(0 0 .025em black)drop-shadow(0 0 .025em black)drop-shadow(0 0 .025em black)}
t{font-family:Calibri;font-size:.7em;display:block;width:calc(100% + 20px);padding:7px 0 10px 10px;margin:17px 0 -10px -10px;border-radius:0 0 12px 12px;white-space:nowrap;overflow:auto;scrollbar-width:none;border-top:3px solid rgb(var(--midd));background:rgba(var(--midd),.5);color:rgba(var(--white),.7)}
t:after{content:'';width:7px;display:inline-block}
th,td{vertical-align:middle;font-size:.85em}
td:has(p){font-size:1em}
table.fkno td p:not(.infob){padding-left:0!important}
th{position:relative;text-align:left;padding:2px 5px;background:rgb(var(--midd));border:2px solid rgb(var(--midd));color:rgb(var(--white))}
a{color:rgb(var(--fore));filter:brightness(150%)}
a:hover{border-bottom:2px dashed rgb(var(--fore))}
a h2{filter:brightness(75%)}
span:not([class]){display:block;font-size:.5em;font-family:Space Mono,Consolas,Courrier;font-weight:100;opacity:.7}
summary span{font-size:.7em}
details th span:not([class]),details td span:not([class]){position:absolute;text-align:right;top:0;right:5px;font-weight:800;line-height:calc(5px + 2.5em)}
.source{font-style:italic;font-size:.8em;text-align:right;color:rgb(var(--white))}
p+.source{margin-top:-12px}
.source a{color:rgb(var(--white))}
summary{width:calc(100% + 20px);margin:-12px 0 -20px -10px;padding:10px;padding-left:27px;border-radius:15px 15px 0 0;border-bottom:3px solid rgb(var(--midd));background:rgb(var(--fore));color:rgb(var(--black));text-indent:-17px;cursor:pointer}
details[open] summary{margin-bottom:0}
details[open]:not(.noexp)+t{margin-top:12px}
details table{border-collapse:collapse;font-size:inherit}
details table td{padding:7px;border:2px solid rgb(var(--midd))}
details table:not(.spmono,.freet) td{width:50%}
details p{font-size:.85em}
table.spmono{margin-top:12px;font-family:Space Mono;font-size:.7em}
table.spmono th:first-child,table.spmono td:first-child{width:17%;text-align:center}
table.spmono.fkno th:first-child,table.spmono.fkno td:first-child{width:22%;text-align:center}
table.spmono.fkno th:nth-child(2):not(:last-child),table.spmono.fkno td:nth-child(2):not(:last-child){width:17%;text-align:center}
table+p,summary+p{margin-top:12px}
.lorecard{border:3px solid rgb(var(--fore));background:rgba(var(--midd),.2);padding:7px;border-radius:7px;display:inline-block;margin:7px}
.lorecard h3{color:rgb(var(--midd));margin:-7px -7px 17px -7px;border-bottom:2px solid rgb(var(--fore));padding-left:10px;background:rgba(var(--fore),.7);padding-bottom:3px}
.lorecard p{margin:0}
#sidenav{background:rgb(var(--black))}
details>ul>li{font-size:.85em;list-style:square}
b{font-weight:800}
smol,.smol{font-size:.7em}
pre{font-size:.7em;font-family:Space Mono;padding-left:1em;color:rgb(var(--white))}
td:has(.nomai){padding:0}
td div:has(.nomai){margin:0!important}
td .nomai{margin:0!important;width:100%;box-shadow:none;border-radius:0!important}
.nomai .infob,.nomai + .infob{font-size:.85em}
it details .shiplog{box-shadow:none;width:100%;margin:.5em auto;font-size:.8em}
.noexp summary::-webkit-details-marker{display:none}
.noexp summary{list-style:none;text-indent:0;padding-left:10px;cursor:auto}
.noexp+t{margin-top:-3px}
.cardext{filter:none}.cardext *{--fore:var(--blue);--midd:var(--black2)}.cardext:hover{filter:contrast(150%)brightness(200%)}
.cardext .noexp{pointer-events:none}.cardext summary{font-size:30px;font-weight:600}
.cardext .noexp+t{display:none}.cardext .noexp summary{border:none;border-radius:10px}
.cardext it:has(.noexp){padding-bottom:0}
#convout td{font-family:Space Mono}
t:empty{height:0}
input[type=text]{width:100%;font-family:Space Mono;cursor:auto}
input.hasimg{padding-left:27px;background:no-repeat left center;background-size:24px 24px}input.hasoutline{outline:3px solid rgb(var(--fore));margin:4px}
.tagcategory details{border:3px solid rgb(var(--fore));border-radius:15px;margin-bottom:.5em}.tagcategory details>div{padding:7px}
.tagcategory summary{width:auto;margin:auto}.tagcategory details:not([open]) summary{border:none;border-radius:8px;margin-bottom:-1px}.tagcategory details[open] summary{border-radius:10px 10px 0 0}
.tagcategory hr{margin:.5em -7px;width:calc(100% + 14px);height:3px}
.tagcategory .t{display:table;border-collapse:collapse;width:100%}
.tagcategory .tr{display:table-row;min-width:36px}
.tagcategory .td{display:inline-block}
.tagcategory .td:first-child{width:1.7em;vertical-align:top}
.tagcategory .td:last-child{width:calc(100% - 1.7em)}