

/* NOTE: This file’s contents need to be reviewed! */













*{--scale:calc(var(--s)*1px);position:relative}
*,*:after,*:before{box-sizing:border-box}
.tl{display:flex;width:min-content}
.cont{overflow-x:auto;
    padding:22px;padding-left:calc(22px + var(--sidebarwidth));
    /* padding:10px var(--sidebarwidth); */
background:rgba(0,0,0,0.8)}

#fixheader{position:fixed;background:rgba(0,0,0,.8);border-right:var(--borderlen)solid rgb(var(--blue));left:0;top:0;bottom:0;z-index:200;width:var(--sidebarwidth);text-align:center;
    padding-top:2.2em;
    overflow:auto
}
#fixheader a>img{max-height:3.4em}
#fixheader h1{line-height:1.2}
#fixheader more{position:fixed;left:10px;top:10px;width:calc(var(--sidebarwidth) - 35px);min-width:calc(var(--sidebarwidth) - 35px);border-color:rgb(var(--redd))}



h1{font-size:3rem;color:rgb(var(--redd));margin:0 auto;text-align:center;line-height:200%}



.collapse{max-height:unset;overflow:hidden;transition:max-height 0.25s ease-in-out}
.collapse > div:not(#groups,#jumpdate) a{background:rgb(var(--fore))}
.collapse div{padding:10px}
.collapse div:not(:last-child){border-bottom:var(--borderlen)solid rgba(var(--midd),.42)}
.toggle:checked+.lbl-toggle+.collapse{max-height:0}
input[type=checkbox]{display:none}
.toggle:checked+.lbl-toggle:before{transform:translateY(-2px)}




button{border:var(--borderlen)solid rgb(var(--midd));display:block;cursor:pointer;text-shadow:var(--txtshw),var(--txtshw),var(--txtshw);color:rgb(var(--white));font-weight:600;background:rgb(var(--fore));border-radius:100px;padding:10px;margin:20px auto;font-size:17px}
button:active,button:hover{background:rgb(var(--midd))}
a:hover>more,.c div:hover>more,more:hover{visibility:visible}
a{font-weight:800;text-decoration:none;color:rgb(var(--redd))}
a:hover{color:rgb(var(--midd))}
.lbl-toggle{font-family:KFhimaji;color:rgb(var(--midd));padding:12px;cursor:pointer}
.lbl-toggle:before{content:'';display:inline-block;border-top:10px solid transparent;border-bottom:10px solid transparent;border-left:10px solid currentColor;vertical-align:middle;margin-right:0.7rem;transform:rotate(90deg)translateX(-3px);transition:transform 0.2s ease-out}
more{display:block;visibility:hidden;z-index:150;background:rgba(var(--back),.95);border:var(--borderlen)solid rgb(var(--midd));border-top:calc(var(--borderlen) + 10px)solid rgb(var(--midd));padding:7px;color:rgb(var(--black));
text-shadow:none;font-weight:normal;border-radius:10px;min-width:360px;max-height:256px;max-width:420px;top:calc(var(--barheight) - var(--borderlen));overflow-y:auto}

.c *{--midd:var(--chrbordercolor);--fore:var(--chrbackcolor)}

div.evt  more{top:calc(var(--barheight)*3/4 - 2*var(--borderlen));left:calc(var(--barheight)/4 - var(--borderlen))}
div.sevt more{top:calc(var(--barheight) - var(--borderlen));left:calc(var(--scale) - 1px - var(--borderlen))}
div.trip more{top:calc(var(--barheight)/2 - 1px + .5*var(--borderlen));left:calc(-1*var(--borderlen))}

more p{margin:7px 0}
more p:first-child{margin-top:0}
more p:last-child{margin-bottom:0}
cr{color:rgb(var(--redd2))}
cs{color:rgb(var(--plblue))}
r{color:rgb(var(--redd));font-weight:600}
.day > h1:after{content:url(../ast-fkno/svg/scale-timeloop.svg)}
.day > h1 > span{position:sticky;display:block;left:0;width:100vh}
.day:first-child > h1{visibility:hidden}
.day:first-child{width:var(--barheight);text-align:center}
.day:first-child a {display:block;height:var(--barheight)}
.day>h1{margin-bottom:calc(var(--s)*var(--borderlen))}
h1:target{color:rgb(var(--midd));border-color:rgb(var(--midd))}
blockquote{border-left:2px solid rgb(var(--fore));padding:0 0 0 7px;margin:7px 0 7px 7px}

h2{margin:0 0 17px 0;line-height:120%;font-size:20px;border-bottom:2px solid rgb(var(--midd));color:rgb(var(--midd))}
more h2:not(h2:first-child){margin-top:17px}

#slider.slider{width:100%;height:100%;position:fixed;top:0;pointer-events:none}
.thumb{height:100%;width:52px;cursor:move;padding:0 25px;pointer-events:auto}
.thumb in{background:rgb(var(--redd));width:2px;display:block;height:100%}



a.btn{padding:7px 7px 12px 7px;background:rgb(var(--midd));display:inline-block;margin-bottom:5px!important;color:rgb(var(--white));font-variant:small-caps}
a.btn:hover{background:rgb(var(--redd))}
.map{height:calc(var(--sidebarwidth)/768*632);padding:0!important}
.map svg{position:absolute;top:0;left:0}
.map circle,.map text,.map polygon{filter:drop-shadow(var(--borderlen)var(--borderlen)var(--borderlen)rgb(var(--black)))}
.map circle{fill:rgb(var(--redd));stroke:rgb(var(--white));fill-opacity:.8;stroke-width:5}
.map polygon{fill:rgba(var(--redd),0.42);stroke:rgba(var(--white),0.6);stroke-width:5px}
.map text{fill:rgb(var(--white));display:none;font-size:calc(7px*var(--s));paint-order:stroke;stroke:rgb(var(--black));stroke-width:1.5%}
.map g:hover text{display:unset}
.void{background:none!important}
.void{border:none!important}
.offs{border-radius:0!important;border-left:none!important;border-right:none!important;border-bottom:rgba(var(--void),.64)!important;border-top:rgba(var(--void),.64)!important;background:rgba(var(--void),.64)!important}
.c>div>div>p,.c>div.trip>p{top:50%;margin:0;margin-left:calc(var(--barheight)/2.5);transform:translate(0,-50%);width:calc(100% - var(--barheight))}

.day:nth-child(2) .c{border-radius:calc(var(--barheight)/2)0 0 calc(var(--barheight)/2)}
.day:last-child .c{border-radius:0 calc(var(--barheight)/2)calc(var(--barheight)/2)0}

.c{height:var(--barheight);background:rgba(var(--void),.64);margin-bottom:calc(var(--barheight)/2.5)}
.c>div>div,.c>div.trip{height:var(--barheight);font-size:calc(var(--barheight)/3.4);background:rgb(var(--chrbackcolor));border-color:rgb(var(--chrbordercolor));font-weight:600;color:rgb(var(--white));text-shadow:var(--txtshw),var(--txtshw),var(--txtshw);position:absolute;border-style:solid;border-radius:calc(var(--barheight)/2)}

.c .evt{background:rgba(var(--plblue),.8);border:var(--borderlen)solid rgb(var(--white));box-shadow:0 0 var(--borderlen)rgb(var(--black)),
0 0 var(--borderlen)rgb(var(--black)),0 0 var(--borderlen)rgb(var(--black)),0 0 var(--borderlen)rgb(var(--black)),0 0 var(--borderlen)rgb(var(--black));
width:calc(var(--barheight)/2);height:calc(var(--barheight)/2);top:calc(var(--barheight)/4);border-radius:50%;margin-left:calc(-1*var(--barheight)/4 - 1px)}
.charlist{position:sticky;width:var(--barheight);top:0;bottom:0;z-index:500;left:0}
.charlist div{background:none}
.charlist a{position:relative}
.charlist img{position:absolute;bottom:0;left:0}
.c .sevt{
    background:rgb(var(--chrbordercolor));
    border:none;border-radius:0;
    width:var(--scale);
    margin-left:calc(-1*var(--scale)/4 - 1px);
}

more > *:first-child{margin-top:0;padding-top:0}
more > *:last-child{margin-bottom:0;padding-bottom:0}
