*{--grey:119,119,119;--falseblack:19,22,26;--falsewhite:209,209,209;--pnimg:url(../../ast/hksk/bg/rt_lt_arrow.png);
text-shadow:1px 1px 0 black,-1px 1px 0 black,1px -1px 0 black,-1px -1px 0 black,0px 1px 0 black,0px -1px 0 black,-1px 0px 0 black,
1px 0px 0 black,2px 2px 0 black,-2px 2px 0 black,2px -2px 0 black,-2px -2px 0 black,0px 2px 0 black,0px -2px 0 black,-2px 0px 0 black,2px 0px 0 black,
1px 2px 0 black,-1px 2px 0 black,1px -2px 0 black,-1px -2px 0 black,2px 1px 0 black,-2px 1px 0 black,2px -1px 0 black,-2px -1px 0 black;
font-weight:normal;box-sizing:border-box;scrollbar-color:rgb(var(--falsewhite))rgb(var(--falseblack));scrollbar-width:auto}*:target{scroll-margin-top:80px}
@font-face{font-family:notose;src:url(../../ast/hksk/fnt/notosrif.otf)format('opentype')}
@font-face{font-family:perpet;src:url(../../ast/hksk/fnt/perpetua.ttf)format('truetype')}
@font-face{font-family:trajan;src:url(../../ast/hksk/fnt/trajan-b.otf)format('opentype');font-weight:600;font-style:bold}
@font-face{font-family:trajan;src:url(../../ast/hksk/fnt/trajan-r.otf)format('opentype');font-weight:400;font-style:normal}
@media only screen and (max-width:1080px){body{background:black}.wrap{width:100%}}
@media only screen and (max-width:1700px){.prev,.next,#olne{display:none}}
@media only screen and (min-width:1081px){body{background:url(../../ast/hksk/bg/bg-tile.png);background-attachment:fixed}.wrap{width:1080px;left:50%;margin-left:max(-40%,-540px)}.chap{border:solid 100px transparent;border-image:url(../../ast/hksk/bg/tile-manual.png)270 round}}
@media only screen and (min-width:1701px){.pidx{display:none}}
body{color:rgb(var(--falsewhite));margin:0;font-family:perpet;font-size:17px}
h1{background:url(../../ast/hksk/bg/bg-dreamnail.png)center no-repeat;padding:50px;text-align:center;font-family:trajan;margin:0 auto}
a{color:rgb(255,255,255);text-decoration:none;transition:0.2s}a:hover{color:rgb(var(--grey))}img{max-width:100%;height:auto;max-height:100%}
.wrap{position:absolute;margin-top:17px;padding-bottom:100px}#old{display:none}
.prev,.next{position:fixed;top:50%;width:50px;height:150px;background:var(--pnimg)no-repeat center center}.prev{left:15%;transform:rotate(180deg)}.next{right:15%}
#olne{right:2%;top:10%;position:fixed;width:16vw;height:17vw;background-size:100%;background-repeat:no-repeat;background-image:url(../../ast/hksk/bg/lever-new.png)}
#olne a:nth-child(1){position:absolute;top:41%;left:11%;width:20%;height:17%}
#olne a:nth-child(2){position:absolute;top:38%;margin-left:38%;margin-right:38%;width:24%;height:24%}
#olne a:nth-child(3){position:absolute;top:41%;right:11%;width:20%;height:17%}
.chap{background:black;width:100%;margin-bottom:80px}.plist img{max-width:19%;display:inline-block}.comy{pointer-events:none}
.pidx{position:fixed;bottom:0;width:100%;height:100px;background:rgba(var(--falseblack),0.8);border:solid 5px rgba(var(--falseblack),.2)}
.pidx tr{height:64px}.pidx a{display:block;height:100%;width:100%}
.lnkprv,.lnknxt{width:20%;background:var(--pnimg)no-repeat center center}.lnkprv{transform:rotate(180deg)}
.lnkidx{width:10%;background:url(../logo.png)no-repeat center center}
#lnkold,#lnknew{width:52px;margin:auto;background-size:100%;background-repeat:no-repeat}
#lnkold{transform:rotate(-90deg);background-image:url(../../ast/hksk/bg/tuner-off.png)}
#lnknew{transform:rotate( 90deg);background-image:url(../../ast/hksk/bg/tuner-on.png)}

/* Inspiration for more CSS stuff: */
/* https://the-hollow-knight.tumblr.com/ */
/* https://www.geeksforgeeks.org/how-to-make-horizontal-line-with-words-in-the-middle-using-css/ */
