*{scrollbar-color:rgb(#fff)rgb(#000);scrollbar-width:auto}*:target{scroll-margin-top:80px}
body{background:url('https://img.itch.zone/aW1nLzU2ODAxNTMucG5n/original/BMA3Vt.png')}
table{width:1200px;margin:120px auto}
td{padding-left:5%;padding-right:5%}
img{max-width:100%}
