*{--back:#fee0a3;--grey:#DBB891;--fore:#3f7963;--midd:#b3b04f;--emph:#E85359;--emp2:#8B6615;--plblack:302020;
position:relative;border:0 none;margin:0;padding:0;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;scrollbar-width:auto;scrollbar-color:var(--fore)var(--back)}*,*:after,*:before{box-sizing:border-box;-moz-box-sizing:border-box}
*:target{scroll-margin-top:80px}h1,h2,h3,h4,h5,h6{text-align:center;margin:0 auto}
body{margin:auto;font-family:Candara;margin-top:17px;padding-bottom:100px;background:var(--bgimg)center center fixed;background-size:auto 100%;background-color:var(--grey);text-align:justify}

table{width:100%}td{padding-left:5%;padding-right:5%}img{max-width:100%}a{text-decoration:none;color:var(--midd)}a:hover{color:var(--emph)}
table.main{width:90%;margin:120px auto;text-align:center}
.link{display:inline-block;border:3px solid rgba(197,42,142,0.9);border-radius:7px;font-family:Cambria;padding:7px;background:rgba(197,42,142,0.9);color:rgba(255,255,255,0.64);margin:7px;text-decoration:none;font-weight:800;font-variant:small-caps}

/* @media(orientation:portrait),(max-width:1440px){
#wrap{width:100%}.chctn{width:100%;padding:16px}body{font-size:2rem;background:var(--back)}h1{font-size:5rem}h2{font-size:2.5rem}
}
@media(orientation:landscape)and (min-width:1440px){ */
#wrap{left:50%;width:800px;margin-left:-400px}body{font-size:1.25rem}h1{font-size:3rem}h2{font-size:1.5rem}
.chcol{box-shadow:0 0 17px var(--back);border-radius:42px}
.chctn{margin:1rem auto;border:4px solid;width:calc(100% - 36px);max-width:800px;padding:16px}
.ch{border:4px solid;border-radius:5px}
.chctn:before,.chctn:after,.ch:before,.ch:after{content:'';position:absolute;width:42px;height:42px;border:4px solid;z-index:2}
.chctn:before{top:-4px;left:-4px;border-radius:0 0 5px 0;border-color:var(--back)var(--fore)var(--fore)var(--back)}
.chctn:after{top:-4px;right:-4px;border-radius:0 0 0 5px;border-color:var(--back)var(--back)var(--fore)var(--fore)}
.ch:before{bottom:-24px;left:-24px;border-radius:0 5px 0 0;border-color:var(--fore)var(--fore)var(--back)var(--back)}
.ch:after{bottom:-24px;right:-24px;border-radius:5px 0 0 0;border-color:var(--fore)var(--back)var(--back)var(--fore)}
/* } */

#wrap{margin-top:17px;position:absolute;padding-bottom:142px}
wip{margin:20px;padding:42px;color:var(--plblack);background:var(--midd);display:block;border-radius:17px;box-shadow:0 0 17px var(--midd)}wip a{color:var(--fore)}
.chcol{background:var(--back);padding-top:5px;padding-bottom:5px}
.ch{background:var(--back);width:100%}.chcol + .chcol{margin-top:80px}.chctn{color:var(--fore)}

.writing{text-align:center;font-weight:800;font-family:Bradley Hand ITC}u{text-decoration:none}u svg.u{position:absolute;left:5%;width:90%;fill:none;stroke:var(--fore);stroke-width:1px;top:50%}svg.u path{d:path('m1.986 8.91c55.429 4.081 111.5811 5.822 167.1178 2.867 22.7091-1.208 45.3983-.601 68.126-.778 28.3817-.223 56.7608-1.024 85.1372-1.33 24.1738-.261 48.4273.571 72.5811.571')}

h1{color:var(--emph);padding-top:1rem;margin-bottom:42px;line-height:200%}
h1:before,h1:after,h1 hr:before,h1 hr:after{content:'';background:var(--back);width:22px;height:22px;border:3px solid var(--midd);position:absolute;bottom:0;
transform:rotate(45deg)translatey(calc(50% + 3px));left:calc(5% + 11px);z-index:2}
h1:after{left:auto;right:calc(5% - 21px)}h1 hr:before{left:0}h1 hr:after{left:auto;right:-11px}h1 span{color:var(--midd);line-height:100%;font-size:0.7em}
h1 hr{width:90%;position:absolute;left:5%;bottom:0;background:var(--midd);height:3px}
h1 .st{}
h2{font-weight:200;text-align:center;color:var(--fore);padding:2rem 0 0}

article{padding:1rem 10% 0;text-align:justify}article .em{padding-left:2.5rem;color:var(--emp2)}
p{text-indent:2.5em}d{display:block;margin-left:2.5em;margin-right:2.5em}v{display:block;height:2rem}

.clock:before{content:'🕰';color:var(--midd);font-size:4rem;position:absolute;top:-8.2rem;left:45%}
.bar{display:block;line-height:2px;height:2px;margin:4rem 0;background:var(--midd);text-align:center}
.bar span{background:var(--back);padding:17px;font-weight:800;font-size:27px;color:var(--midd)}
.prnx{position:absolute;top:-1rem;font-size:27px;width:100%;text-align:center}.prnx td:nth-child(1),.prnx td:nth-child(3){width:33%}

.bar:before,.bar:after{
content:'➽';
/* ☙☦☤✥⇭⇴⇯⟿⤘⤠➳➸➺ ➾   */
/* content:'✥'; */
/*
🙐🙑🙒🙓🙔🙕🙖🙗
🙘🙙🙚🙛
🙜🙝🙞🙟
🙠🙡🙢🙣
🙤🙥🙦🙧
*/
font-size:2rem;color:var(--midd);position:absolute}
.bar:before{transform:rotate(180deg)}
.bar:before{left:-10px}.bar:after{right:-10px}
/* .bar:before{transform:rotate(90deg)}.bar:after{transform:rotate(-90deg)} */
/* .bar:before{transform:rotate(-90deg)}.bar:after{transform:rotate(90deg)} */
