@keyframes shake{0%{transform:skewX(-7deg)}5%{transform:skewX(7deg)}10%{transform:skewX(-7deg)}15%{transform:skewX(7deg)}20%{transform:skewX(0deg)}100%{transform:skewX(0deg)}}
@keyframes shakebig{0%{transform:skewX(-17deg)}5%{transform:skewX(17deg)}10%{transform:skewX(-17deg)}15%{transform:skewX(17deg)}20%{transform:skewX(0deg)}100%{transform:skewX(0deg)}}
@keyframes occasionalshake{0%{transform:skewX(-12deg)}0.1%{transform:skewX(12deg)}0.2%{transform:skewX(0deg)}100%{transform:skewX(0deg)}}
.shaktxt{animation:shake 0.1s infinite}.bshaktxt{animation:shakebig 0.1s infinite}.ocshaktxt{animation:occasionalshake 10s infinite}
@keyframes rainbow_animation{0%,100%{background-position:0 0}50%{background-position:100%0}}
@keyframes peblink{
0%{background:var(--echoflow)no-repeat;background-size:cover;opacity:100%}
25%{background:var(--echoflow)no-repeat;background-size:cover;opacity:100%}
50%{background:var(--echoflow)no-repeat;background-size:cover;opacity:20%}
75%{background:var(--echoflow)no-repeat;background-size:cover;opacity:100%}
100%{background:var(--echoflow)no-repeat;background-size:cover;opacity:100%}
}
@keyframes waver{0%,100%{transform:translateY(2.5px)}50%{transform:translateY(-2.5px)}}
/* .wavy span{position:relative;display:inline-block;animation:waver 1.5s ease-in-out infinite;animation-delay:calc(0.1s*var(--i))} */
*{--dishr:66,69,73;--rga:233,29,32;--oga:246,130,40;--yga:237,217,26;--greyga:195,195,195;--bga:0,119,162;
--rso:255,0,0;--oso:252,166,0;--yso:255,255,0;--gso:0,192,0;--cso:66,252,255;--bso:0,60,255;--pso:213,53,217;
--ystar:url(../lwtq/ast/tile_ystar.png);--bstar:url(../lwtq/ast/tile_bstar.png);--tilec:url(../lwtq/ast/tile_corridor.png);
--saveo:url(../lwtq/ast/saveo.png);--savew:url(../lwtq/ast/savew.png);--saveu:url(../lwtq/ast/saveUT.gif);--saved:url(../lwtq/ast/saveDR.gif);
--rsoul:url(../lwtq/emj/soul.png);--drbox:url(../lwtq/ast/tile_drbox.gif);--echoflow:url(../lwtq/ast/echo_flower_banner.png);
--txtshw:var(--u)var(--u)0#000,calc(-1*var(--u))var(--u)0#000,var(--u)calc(-1*var(--u))0#000,calc(-1*var(--u))calc(-1*var(--u))0#000,0 var(--u)0#000,0 calc(-1*var(--u))0#000,
calc(-1*var(--u))0 0#000,var(--u)0 0#000,calc(2*var(--u))calc(2*var(--u))0#000,calc(-2*var(--u))calc(2*var(--u))0#000,calc(2*var(--u))calc(-2*var(--u))0#000,
calc(-2*var(--u))calc(-2*var(--u))0#000,0 calc(2*var(--u))0#000,0 calc(-2*var(--u))0#000,calc(-2*var(--u))0 0#000,calc(2*var(--u))0 0#000,var(--u)calc(2*var(--u))0#000,
calc(-1*var(--u))calc(2*var(--u))0#000,var(--u)calc(-2*var(--u))0#000,calc(-1*var(--u))calc(-2*var(--u))0#000,calc(2*var(--u))var(--u)0#000,calc(-2*var(--u))var(--u)0#000,
calc(2*var(--u))calc(-1*var(--u))0#000,calc(-2*var(--u))calc(-1*var(--u))0#000;
scrollbar-color:rgb(var(--chco))#000;scrollbar-width:auto;box-sizing:border-box;
-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;
}*:target{scroll-margin-top:calc(80*var(--u))}v{display:block;height:calc(12*var(--u))}@font-face{font-family:dtm;src:url(../ast-fnt/utdr/dtm.ttf)format('truetype')}
@font-face{font-family:dts;src:url(../ast-fnt/utdr/dts.ttf)format('truetype')}@font-face{font-family:luc;src:url(../ast-fnt/utdr/luc.ttf)format('truetype')}
@font-face{font-family:mcy;src:url(../ast-fnt/utdr/mcy.ttf)format('truetype')}@font-face{font-family:mfr;src:url(../ast-fnt/utdr/mfr.otf)format('opentype')}
@font-face{font-family:mnc;src:url(../ast-fnt/utdr/mnc.ttf)format('truetype')}@font-face{font-family:utd;src:url(../ast-fnt/utdr/utd.ttf)format('truetype')}
@font-face{font-family:utp;src:url(../ast-fnt/utdr/utp.ttf)format('truetype')}@font-face{font-family:uts;src:url(../ast-fnt/utdr/uts.ttf)format('truetype')}
@media(orientation:portrait),(max-width:1440px){
    *{--u:0.145vw}
    /* *{--u:0.125vw} */
#wrap{margin-top:calc(360*var(--u))}#indxut,#indxdr{position:absolute;margin-top:2.5vw;left:50%;width:50vw;padding:1.5vw;margin-left:-25vw}#indxri{display:none}}
@media(orientation:landscape)and (min-width:1440px){*{--u:1px}#wrap{margin-top:calc(17*var(--u))}#indxut,#indxdr,#indxri{position:fixed;width:400px;padding:12px}#indxut,#indxdr{top:17%;left:2vw}#indxri{top:37.5vh;margin-top:-25vh;right:2vw}}
body{background:var(--ystar);background-attachment:fixed;color:#fff;margin:auto;font-family:Calibri;font-size:calc(20*var(--u))}
table{margin:auto;width:100%}
ul{margin:0;margin-left:calc(12*var(--u))}
ul.svpt{padding-left:calc(20*var(--u));padding-right:calc(12*var(--u));text-align:justify;list-style-image:var(--saveu)}ul.svpt a{color:#c3c3c3}ul.svpt a:hover{list-style-image:var(--saved);color:rgb(var(--yga))}
ul.gdlg,pebox ul,.disut ul,.disdm ul{list-style:'*';padding:0;letter-spacing:var(--u)}ul.gdlg li,pebox li,.disut li,.disdm li{padding-left:calc(12*var(--u))}
.disut ul,.disdm ul{font-family:dtm;font-size:0.8em;line-height:calc(20*var(--u));text-shadow:var(--txtshw);margin-left:calc(24*var(--u))}
ul.butp{list-style:none;font-family:utp;font-variant:small-caps;padding:0;letter-spacing:0;margin-left:calc(5*var(--u))}

h1,h2,h3,h4,h5,h6{text-align:center;margin:0 auto;font-weight:normal}img{max-width:100%;margin:auto;display:block}.banner{width:100%}
a{text-decoration:none}
hr{border:0;background:linear-gradient(to right,rgba(var(--chco),0),rgba(var(--chco),0.75),rgba(var(--chco),0));height:var(--u)}
p{padding:0 calc(10*var(--u));margin:calc(5*var(--u))0}
#wrap{position:absolute;left:50%;width:calc(640*var(--u));margin-left:calc(-320*var(--u));padding-bottom:calc(100*var(--u))}#indxut,#indxdr{background:#000;font-family:mcy}#indxri{background:#000;font-family:dts;font-size:17px}
#btlescr{position:relative;background:#000;width:calc(320*var(--u));height:calc(240*var(--u));margin:calc(7*var(--u))auto}
#btlescr a{color:rgb(var(--greyga))}#btlescr a:hover{color:rgb(var(--yso))}
#boxboss{display:table-cell;vertical-align:middle;background:url(../lwtq/ast/bg_battle_boss.png);position:relative;background-size:auto 100%;background-repeat:no-repeat;background-position:center;text-align:center;width:calc(320*var(--u));height:calc(118*var(--u))}#boxboss img{display:inline-block;max-height:calc(100*var(--u))}
#stat{position:relative;width:100%;padding-left:calc(12*var(--u));font-size:calc(10*var(--u));height:calc(10*var(--u));line-height:calc(10*var(--u));font-family:mnc}
#stat td{vertical-align:middle}#stat td:nth-child(1){width:calc(46*var(--u))}
#stat td:nth-child(2){width:calc(32*var(--u))}#stat td:nth-child(3){width:calc(36*var(--u));text-align:right}#stat td:nth-child(4){width:calc(12*var(--u))}
#stat td:nth-child(4) div{display:inline-block;background:rgb(var(--yso));width:calc(12*var(--u));height:calc(10*var(--u))}
#choice{width:100%;font-size:calc(10*var(--u))}#choice td{width:25%;padding:0}
#btnindx{-webkit-transform:scale(1.6,1.4);-moz-transform:scale(1.6,1.4);-o-transform:scale(1.6,1.4);transform:scale(1.6,1.4);padding-right:calc(9*var(--u))}
#btnrest{-webkit-transform:scale(1.6,1.4);-moz-transform:scale(1.6,1.4);-o-transform:scale(1.6,1.4);transform:scale(1.6,1.4);padding-right:calc(9*var(--u))}
#btnrelo{-webkit-transform:scale(1.4,1.4);-moz-transform:scale(1.4,1.4);-o-transform:scale(1.4,1.4);transform:scale(1.4,1.4);padding-right:calc(6*var(--u))}
#btncont{-webkit-transform:scale(1.0,1.4);-moz-transform:scale(1.0,1.4);-o-transform:scale(1.0,1.4);transform:scale(1.0,1.4);padding-left:calc(6*var(--u))}
.utpo,.drpo,.dcpo{margin-top:calc(10*var(--u));margin-bottom:calc(10*var(--u));width:100%}
.utpo a,.drpo a{color:rgb(var(--oga))}.utpo a:hover,.drpo a:hover,a:hover .utgb{color:rgb(var(--yso))}.utpo pfp,.drpo pfp,.disut pfp{font-size:calc(24*var(--u));font-family:dtm;text-shadow:var(--txtshw)}
.disdm pfp{font-size:calc(24*var(--u));font-weight:bold;color:#fff}
.utpo,.drpo{padding:calc(17*var(--u));background:#000}.dcpo{padding:calc(10*var(--u))}
.utpo,#indxut,#indxri{border:solid calc(3*var(--u))rgb(var(--chco))}.drpo,#indxdr,wip{background-clip:padding-box;border:solid calc(16*var(--u))transparent;border-image:var(--drbox)16 round}
.game-box{display:block;background:#000;padding:calc(5*var(--u));height:calc(76*var(--u));width:calc(288*var(--u));border:calc(3*var(--u))solid#fff;margin:calc(3*var(--u))auto}
.game-box td{vertical-align:text-top}
.sogabtn{border:var(--u)solid rgb(var(--oga));color:rgb(var(--oga));background:url(../lwtq/ast/saveo.png)}
.swgabtn{border:var(--u)solid rgb(var(--greyga));color:rgb(var(--greyga));background:url(../lwtq/ast/savew.png)}
.sogabtn:hover{border:var(--u)solid rgb(var(--yga));color:rgb(var(--yga));background:url(../lwtq/emj/soul.png)}
.swgabtn:hover{border:var(--u)solid#fff;color:#fff;background:url(../lwtq/emj/soul.png)}
.sogabtn,.swgabtn{border-radius:2%;background-color:#000;margin:auto;font-family:mcy;text-align:right;width:75%;padding:2}
.sogabtn,.swgabtn,.sogabtn:hover,.swgabtn:hover{background-position:6%50%;background-repeat:no-repeat;background-size:auto 50%}

.distitle,.disend{background-color:rgb(32,33,37);text-align:center}
.distitle,.disheader,.disend,.disdm,.disut{width:100%;margin:auto;font-family:Calibri}
.distitle{font-weight:bold;font-size:calc(27*var(--u));padding:calc(10*var(--u));border-radius:calc(15*var(--u))calc(15*var(--u))0 0}
.disheader{background-color:rgb(48,49,54);border-bottom:calc(2*var(--u))solid#2C2F33;margin-bottom:-.5em;padding-bottom:.5em}
.disend{color:rgba(255,255,255,0.5);padding:calc(10*var(--u));border-radius:0 0 calc(15*var(--u))calc(15*var(--u));height:calc(26*var(--u));display:block}
.disut,.disdm{font-size:calc(24*var(--u));background-color:#36393E;padding:calc(5*var(--u));color:rgb(220,221,222)}
.disut ymd{font-size:.57em;font-family:mnc}.disdm ymd{font-size:.75em;font-family:Calibri;font-weight:400}ymd{text-shadow:none;color:rgba(255,255,255,0.2);display:inline-block}
.distitle td:nth-child(1),.disdm td:nth-child(1),.disut td:nth-child(1){width:calc(80*var(--u));vertical-align:text-top}
img.icon{width:calc(64*var(--u));height:calc(64*var(--u));border-radius:50%}
img.emoji{display:inline;max-height:calc(32*var(--u))!important}
img.bigemoji{display:inline;max-width:calc(100*var(--u))!important;max-height:calc(100*var(--u))!important}
img.upload{display:inline;max-height:calc(640*var(--u));max-width:min(calc(420*var(--u)),100%);border-radius:calc(15*var(--u))}
hr.dishr{border:none;background:rgb(var(--dishr))}
.distitlend{background-color:rgb(32,33,37);color:rgba(255,255,255,0.5);padding:calc(10*var(--u));border-radius:0 0 calc(15*var(--u)) calc(15*var(--u));margin:auto}
.link-thumbnail{background-color:#2F3136;border-radius:calc(5*var(--u));padding:calc(20*var(--u));width:80%}
.disut a,.disdm a{color:#00aff4}.disut a:hover,.disdm a:hover{text-decoration:underline}

nar,dad,dlg{text-align:justify;display:block}
nar{margin-left:calc(10*var(--u));margin-right:calc(10*var(--u))}
dad{margin-left:calc(30*var(--u));margin-right:calc(30*var(--u))}
dlg{margin-left:calc(50*var(--u));margin-right:calc(50*var(--u))}

wip{margin:calc(20*var(--u));padding:calc(17*var(--u));color:#aaa;background:url(../lwtq/ast/tile_glowstar.gif);display:block;text-shadow:var(--txtshw)}

chco{color:rgb(var(--chco))}rga{color:rgb(var(--rga))}oga{color:rgb(var(--oga))}yga{color:rgb(var(--yga))}
rso{color:rgb(var(--rso))}oso{color:rgb(var(--oso))}yso{color:rgb(var(--yso))}gso{color:rgb(var(--gso))}cso{color:rgb(var(--cso))}bso{color:rgb(var(--bso))}pso{color:rgb(var(--pso))}
bda{color:#001d7f}cda{color:#00a6c5}gda{color:#008000}oda{color:#ec6f00}pda{color:#8f1c93}rda{color:#800000}yda{color:#f4d400}
gdi{color:rgb(128,128,128)}bga{color:rgb(var(--bga))}whi{color:#fff}
inv{color:transparent}inv::selection{color:rgb(var(--chco));background:invert(rgb(var(--chco)))}
dtm{font-family:dtm}dts{font-family:dts}luc{font-family:luc}mcy{font-family:mcy}mfr{font-family:mfr;font-size:0.9em}mnc{font-family:mnc}utd{font-family:utd;font-size:0.7em}utp{font-family:utp;font-variant:small-caps;font-size:0.9em}uts{font-family:uts;font-size:0.9em}

goh{text-shadow:none;display:inline-block;color:transparent;font-weight:bold;
background:linear-gradient(45deg,rgb(240,96,196),rgb(240,79,97),rgb(241,133,76),rgb(242,184,104),rgb(240,220,128),rgb(182,237,113),rgb(151,231,115),rgb(144,219,160),rgb(136,206,203),rgb(240,96,196));
background-clip:text;-webkit-background-clip:text;
animation:rainbow_animation 3s ease-in-out infinite;background-size:400% 100%}

.prnx{font-family:mfr;font-size:calc(24*var(--u));color:#848484;display:block;margin:auto;text-shadow:var(--txtshw)}.prnx:hover{color:#f4d400}

.box{padding:calc(17*var(--u));margin:calc(17*var(--u))auto;width:95%;background-size:auto 500%!important;text-shadow:var(--txtshw)}
.blst{border:calc(3*var(--u))solid rgb(var(--bga));background:var(--bstar)}
.ylst{border:calc(3*var(--u))solid rgb(var(--yso));background:var(--ystar)}
.ogtl{border:calc(3*var(--u))solid rgb(var(--oga));background:var(--tilec)}
.utgb{border:calc(3*var(--u))solid#fff;background:#000;width:80%;color:#fff;font-family:dtm}


pebox,peboxblink{display:block;padding:calc(42*var(--u));margin:auto;width:100%;height:calc(200*var(--u));margin-top:calc(17*var(--u));margin-bottom:calc(17*var(--u));font-size:calc(30*var(--u));font-family:dtm}
pebox,peboxblink:hover{background:var(--echoflow)no-repeat;background-size:cover;text-shadow:var(--txtshw);color:#fff}
peboxblink{color:transparent;animation:peblink 7s infinite;text-align:center;vertical-align:middle;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition-duration:0.4s}
peboxblink:hover{color:#fff;animation:none}
